openapi: 3.0.1
info:
  title: TVU Networks — Search API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the
    per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/).
    Each operation body is the provider's own export; only grouping, servers[] and operationId backfill
    were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
paths:
  /api/import:
    get:
      summary: import test
      deprecated: false
      description: ''
      tags:
      - Search API/search
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apifox-orders: []
          headers: {}
          x-apifox-name: OK
      security: []
      x-apifox-folder: Search API/search
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-346167500-run
      operationId: import_test_346167500
      x-source-doc: https://docs.tvunetworks.cn/api-346167500.md
  /api/metadataproto/MetadataUploader.RegisterWebhook:
    post:
      summary: register webhook
      deprecated: false
      description: "register webhook\n\nwebhook  request body\n\n```\n{\n    \"status\": \"start / stop\"\
        ,\n    \"sourceObjectId\": \"1339231919795212288\",\n    \"mediaObjectId\": \"1374752064554536960\"\
        ,\n    \"previewMediaPath\": {\n        \"path\": \"http://pp-va-001.s3.us-east-1.amazonaws.com/PP/RECORDINGS/1/play.m3u8\"\
        ,\n        \"duration\": 69948450,\n        \"fileSize\": 33148124844,\n        \"startTimestamp\"\
        : 1747808030709,\n        \"endTimestamp\": 1747877979159\n    },\n    \"highResMediaPath\": {\n\
        \        \"path\": \"http://pp-va-001.s3.us-east-1.amazonaws.com/PP/RECORDINGS/1/play.m3u8\",\n\
        \        \"duration\": 69948450,\n        \"fileSize\": 33148124844,\n        \"startTimestamp\"\
        : 1747808030709,\n        \"endTimestamp\": 1747877979159\n    },\n    \"thumbnailPath\": \"http://pp-va-001.s3.us-east-1.amazonaws.com/PP/RECORDINGS/1/rec.jpg\"\
        ,\n    \"mediaFileType\": 1\n}\n\n```"
      tags:
      - Search API/public
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhookURL:
                  type: string
                  description: url
                operation:
                  type: string
                  description: register / unregister
                sourceObject:
                  type: array
                  items:
                    type: string
                  description: The list of sourceObjects to be considered (if an empty list is passed,
                    then all sourceObjects are considered).
              x-apifox-refs: {}
              x-apifox-orders:
              - webhookURL
              - operation
              - sourceObject
              required:
              - webhookURL
              - operation
              - sourceObject
            example:
              webhookURL: https://vivid-hamburger.com/
              operation: register
              sourceObject:
              - '1377420057780555776'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: '0x0'
                  errorInfo:
                    type: string
                    description: no errror
                x-apifox-refs: {}
                x-apifox-orders:
                - errorCode
                - errorInfo
                required:
                - errorInfo
                - errorCode
              example:
                errorCode: '0x0'
                errorInfo: no errror
          headers: {}
          x-apifox-name: OK
      security: []
      x-apifox-folder: Search API/public
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-414798733-run
      operationId: register_webhook_414798733
      x-source-doc: https://docs.tvunetworks.cn/api-414798733.md
  /api/resource/v2/cut-json:
    post:
      summary: cut-json
      deprecated: false
      description: 'Cut JSON: Only modify the offset field values in the root JSON, including chunk_begin_timestamp,
        chunk_end_timestamp, begin_offset, and end_offset; the HLS source remains unchanged.'
      tags:
      - Search API/extract
      parameters:
      - name: tagvalue
        in: header
        description: ''
        required: false
        example: '{{tagvalue}}'
        schema:
          type: string
          default: '{{tagvalue}}'
      - name: SID
        in: header
        description: ''
        required: false
        example: '{{SID}}'
        schema:
          type: string
          default: '{{SID}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonUrl:
                  type: string
                  description: json url
                markIn:
                  type: integer
                  description: The offset of the cut start point relative to the origin.
                markOut:
                  type: integer
                  description: The offset of the cut endpoint relative to the starting point
                fileName:
                  type: string
                  description: file name
                uploadPath:
                  type: string
                  description: The upload location for the trimmed JSON file; if not specified, it defaults
                    to the same directory as the original JSON.
                pathId:
                  type: string
                  description: 'Translation: The driveId required for synchronizing the driver.'
                bucket:
                  type: string
                  description: s3 bucket
                region:
                  type: string
                  description: s3 region
                serviceCaller:
                  type: string
                  description: 'Caller identifier, for example: searchd'
              required:
              - jsonUrl
              - region
              - bucket
              - markOut
              - markIn
              - fileName
              x-apifox-orders:
              - jsonUrl
              - markIn
              - markOut
              - fileName
              - uploadPath
              - pathId
              - bucket
              - region
              - serviceCaller
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonUrl:
                    type: string
                    description: The json url after trimming
                  errorCode:
                    type: integer
                    description: error code
                  errorMessage:
                    type: string
                    description: error message
                required:
                - jsonUrl
                - errorMessage
                - errorCode
                x-apifox-orders:
                - jsonUrl
                - errorCode
                - errorMessage
          headers: {}
          x-apifox-name: OK
      security:
      - bearer: []
        x-apifox:
          schemeGroups:
          - id: pCKNfYFw3FWFznJsmvIqj
            schemeIds:
            - bearer
          required: true
          use:
            id: pCKNfYFw3FWFznJsmvIqj
          scopes:
            pCKNfYFw3FWFznJsmvIqj:
              bearer: []
      x-apifox-folder: Search API/extract
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-236527411-run
      operationId: cut_json_236527411
      x-source-doc: https://docs.tvunetworks.cn/api-236527411.md
  /api/resource/v2/export:
    post:
      summary: export
      deprecated: false
      description: ''
      tags:
      - Search API/extract
      - public
      parameters:
      - name: tagvalue
        in: header
        description: ''
        required: false
        example: '{{tagvalue}}'
        schema:
          type: string
          default: '{{tagvalue}}'
      - name: SID
        in: header
        description: ''
        required: false
        example: '{{SID}}'
        schema:
          type: string
          default: '{{SID}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                highResolutionMediaFilePath:
                  type: string
                  description: the corresponding hls http link
                  examples:
                  - https://mma-s3-qa.s3.ap-east-1.amazonaws.com/ts/3CB5559B28436AFA/F417ED28275DAE820000000000000001/240521-08-50-39-224/1/play.m3u8
                startTime:
                  type: integer
                  description: start time of the clipping interval
                  format: int64
                  examples:
                  - 1716281448865
                duration:
                  type: integer
                  description: duration of the clipping interval
                  format: int64
                  examples:
                  - 716000
                userAccount:
                  type: string
                  description: user account(email or userid)
                  examples:
                  - calebpan@tvunetworks.com
                withMetadataJson:
                  type: boolean
                  description: whether or not to generate metadata json
                  default: false
                sourceObjectId:
                  type: string
                  description: sourceObjectId used to generate metadata json
                fileName:
                  type: string
                  description: cut video file naming
                  examples:
                  - public_export_test
                fileType:
                  type: string
                  description: video file type, e.g. ts/mov/mp4/json
                  default: ts
                  examples:
                  - mov
                audioVolume:
                  type: string
                  description: 'set audio volume, eg: 2.0, 0.5'
                isFrameLevel:
                  type: boolean
                  description: whether or not the export is frame-accurate
                  default: false
                isCover:
                  type: boolean
                  description: Whether to overwrite existing files with the same name in history
                isDryrun:
                  type: boolean
                  description: 'all logic runs except for extracting files '
                  default: true
                isMRSS:
                  type: boolean
                  description: 'set to true to return video and thumbnail information. '
                audioAdjustment:
                  type: string
                audioPadding:
                  type: object
                  properties:
                    headLen:
                      type: number
                      description: max 5000 (ms)
                    tailLen:
                      type: number
                      description: max 5000 (ms)
                    unit:
                      type: string
                      description: ms/frame
                  description: The Audio Padding feature allows users to configure a muted audio duration
                    before and/or after a clip. Users can specify the padding in seconds or video frames,
                    and the system automatically converts between the two based on the clip's frame rate.
                  x-apifox-orders:
                  - headLen
                  - tailLen
                  - unit
                  x-apifox-ignore-properties: []
                videoPadding:
                  type: object
                  properties:
                    mode:
                      type: integer
                      description: 0(默认) -> hard black  1-> fade black
                    headLen:
                      type: integer
                    tailLen:
                      type: integer
                    unit:
                      type: string
                      description: ms/frame
                  x-apifox-orders:
                  - mode
                  - headLen
                  - tailLen
                  - unit
                  x-apifox-ignore-properties: []
                destination:
                  $ref: '#/components/schemas/PublicDestination'
                  description: upload location information
              required:
              - highResolutionMediaFilePath
              - startTime
              - duration
              - userAccount
              x-apifox-orders:
              - highResolutionMediaFilePath
              - startTime
              - duration
              - userAccount
              - withMetadataJson
              - sourceObjectId
              - fileName
              - fileType
              - audioVolume
              - isFrameLevel
              - isCover
              - isDryrun
              - isMRSS
              - audioAdjustment
              - audioPadding
              - videoPadding
              - destination
              x-apifox-ignore-properties: []
            example:
              highResolutionMediaFilePath: https://tvu-tbs-project.s3.ap-northeast-1.amazonaws.com/ts/FFFFFFF0000E5612/143FEF1EF65B38970000000000000002/240527-05-11-16-159/181/play.m3u8
              startTime: 1732035540427
              duration: 180000
              userAccount: calebpan@tvunetworks.com
              fileName: soffee-20241120
              fileType: ts
              isFrameLevel: false
              isDryrun: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    description: error code
                  errorMsg:
                    type: string
                    description: error message
                  isDryrun:
                    type: boolean
                    description: 'All logic runs except for extracting files '
                  timeWait:
                    type: integer
                    description: (ms) This non-blocking API returns this value that helps decide when
                      to retry the operation.  if it’s 0 ,  videoPath is the real file path.
                  videoPath:
                    type: string
                    description: Full path and pre-signed for 1 hours (if the video file not be public-read)
                  baseVideoPath:
                    type: string
                    description: No signature export video link
                  metadataJsonPath:
                    type: string
                    description: Full path or pre-signed for 1 hours (if ihe metadata json file not be
                      public-read)
                  baseMetadataJsonPath:
                    type: string
                    description: No signature export metadata json link
                  thumbnailInfo:
                    type: object
                    properties:
                      url:
                        type: string
                      width:
                        type: string
                      height:
                        type: string
                    x-apifox-orders:
                    - url
                    - width
                    - height
                    x-apifox-ignore-properties: []
                  videoInfo:
                    type: object
                    properties:
                      url:
                        type: string
                      type:
                        type: string
                      bitrate:
                        type: string
                      width:
                        type: string
                      height:
                        type: string
                      framerate:
                        type: string
                      duration:
                        type: string
                    x-apifox-orders:
                    - url
                    - type
                    - bitrate
                    - width
                    - height
                    - framerate
                    - duration
                    x-apifox-ignore-properties: []
                  videoDuration:
                    type: integer
                    description: video file length
                    format: int64
                  fileSize:
                    type: integer
                    description: video file size
                    format: int64
                required:
                - errorCode
                - errorMsg
                - isDryrun
                - timeWait
                - videoPath
                - baseVideoPath
                - metadataJsonPath
                - baseMetadataJsonPath
                - videoDuration
                - fileSize
                x-apifox-orders:
                - errorCode
                - errorMsg
                - isDryrun
                - timeWait
                - videoPath
                - baseVideoPath
                - metadataJsonPath
                - baseMetadataJsonPath
                - thumbnailInfo
                - videoInfo
                - videoDuration
                - fileSize
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: OK
      security:
      - bearer: []
        x-apifox:
          schemeGroups:
          - id: KXaVv6qS2vTxEg6zy9eVx
            schemeIds:
            - bearer
          required: true
          use:
            id: KXaVv6qS2vTxEg6zy9eVx
          scopes:
            KXaVv6qS2vTxEg6zy9eVx:
              bearer: []
      x-apifox-folder: Search API/extract
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-236527410-run
      operationId: export_236527410
      x-source-doc: https://docs.tvunetworks.cn/api-236527410.md
  /api/resource/v2/exportaudio:
    post:
      summary: exportaudio
      deprecated: false
      description: export audio
      tags:
      - Search API/extract
      - public
      parameters:
      - name: tagvalue
        in: header
        description: ''
        required: false
        example: '{{tagvalue}}'
        schema:
          type: string
          default: '{{tagvalue}}'
      - name: SID
        in: header
        description: ''
        required: false
        example: '{{SID}}'
        schema:
          type: string
          default: '{{SID}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startTime:
                  type: integer
                  description: audio start time(timestamp, ms)
                duration:
                  type: integer
                  description: audio duration(ms)
                sourceObjectId:
                  type: string
                  description: sourceObjectId
                fileName:
                  type: string
                  description: 'file name with suffix (eg: a.flac)'
                sampleRate:
                  type: integer
                  description: sample rate
                fileStartTimecode:
                  type: integer
                  description: audio file start time code
                fileEndTimecode:
                  type: integer
                  description: audio file end time code
                reTranscribe:
                  $ref: '#/components/schemas/ReTranscribe'
                  description: parameter information required for re-transcribe
              required:
              - startTime
              - duration
              - sourceObjectId
              - fileName
              x-apifox-orders:
              - startTime
              - duration
              - sourceObjectId
              - fileName
              - sampleRate
              - fileStartTimecode
              - fileEndTimecode
              - reTranscribe
              x-apifox-ignore-properties: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    description: error code
                  errorMessage:
                    type: string
                    description: error message
                  status:
                    type: integer
                    description: status code
                  timeWait:
                    type: integer
                    description: next request waiting time
                  audioPath:
                    type: string
                    description: audio http link
                required:
                - errorCode
                - errorMessage
                - status
                - timeWait
                - audioPath
                x-apifox-orders:
                - errorCode
                - errorMessage
                - status
                - timeWait
                - audioPath
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: OK
      security:
      - bearer: []
        x-apifox:
          schemeGroups:
          - id: tYQoaYSNmaHnpb0GTwy14
            schemeIds:
            - bearer
          required: true
          use:
            id: tYQoaYSNmaHnpb0GTwy14
          scopes:
            tYQoaYSNmaHnpb0GTwy14:
              bearer: []
      x-apifox-folder: Search API/extract
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-236527414-run
      operationId: exportaudio_236527414
      x-source-doc: https://docs.tvunetworks.cn/api-236527414.md
  /api/resource/v2/longexport:
    post:
      summary: longexport
      deprecated: false
      description: ''
      tags:
      - Search API/extract
      - public
      parameters:
      - name: tagvalue
        in: header
        description: ''
        required: false
        example: '{{tagvalue}}'
        schema:
          type: string
          default: '{{tagvalue}}'
      - name: SID
        in: header
        description: ''
        required: false
        example: '{{SID}}'
        schema:
          type: string
          default: '{{SID}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userAccount:
                  type: string
                  description: user account(email or userid)
                  examples:
                  - calebpan@tvunetworks.com
                filePath:
                  type: string
                  description: the corresponding hls http link
                  examples:
                  - https://mma-s3-qa.s3.ap-east-1.amazonaws.com/ts/3CB5559B28436AFA/F417ED28275DAE820000000000000001/240521-08-50-39-224/1/play.m3u8
                startTime:
                  type: integer
                  description: in millisecond. start time of the filePath
                  format: int64
                  examples:
                  - 1716281448865
                duration:
                  type: integer
                  description: in millisecond. duration of the filePath
                  format: int64
                  examples:
                  - 716000
                maxChunkDuration:
                  type: integer
                  description: in millisecond.  The maxinum value is 14400000 (4 hours)
                fileName:
                  type: string
                  description: cut video file namie prefix
                  examples:
                  - public_export_test
                fileType:
                  type: string
                  description: video file type, TS by default
                  examples:
                  - mov
                destination:
                  $ref: '#/components/schemas/PublicDestination'
                  description: upload location information
              required:
              - userAccount
              - filePath
              - startTime
              - duration
              - maxChunkDuration
              - fileName
              x-apifox-orders:
              - userAccount
              - filePath
              - startTime
              - duration
              - maxChunkDuration
              - fileName
              - fileType
              - destination
              x-apifox-ignore-properties: []
            example:
              userAccount: calebpan@tvunetworks.com
              filePath: https://mma-video-new.S3.us-east-1.amazonaws.com/ts/FFFFFFF0000EE351/74863CBB4E14B04E/240821-02-36-42-576/1/play.m3u8
              startTime: 1721764355777
              duration: 2708371
              maxChunkDuration: 7200000
              fileName: 072424-Netanyahu-Congress-AP2_3F74874773235994
              fileType: ts
              destination:
                cloudVendor: s3
                bucket: mimir-video
                region: us-east-1
                folder: TVU_Search
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    description: error code
                  errorMsg:
                    type: string
                    description: error message
                  timeWait:
                    type: integer
                    description: (ms) This non-blocking API returns this value that helps decide when
                      to retry the operation.  if it’s 0 ,  videoPath is the real file path.
                  videoList:
                    type: array
                    items:
                      $ref: '#/components/schemas/VideoInfo'
                    description: clip list
                    nullable: true
                required:
                - errorCode
                - errorMsg
                - timeWait
                - videoList
                x-apifox-orders:
                - errorCode
                - errorMsg
                - timeWait
                - videoList
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: OK
      security:
      - bearer: []
        x-apifox:
          schemeGroups:
          - id: iK0YzFupKl5MDzstiA6CZ
            schemeIds:
            - bearer
          required: true
          use:
            id: iK0YzFupKl5MDzstiA6CZ
          scopes:
            iK0YzFupKl5MDzstiA6CZ:
              bearer: []
      x-apifox-folder: Search API/extract
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-236527412-run
      operationId: longexport_236527412
      x-source-doc: https://docs.tvunetworks.cn/api-236527412.md
  /api/resource/v2/thumbnail:
    get:
      summary: thumbnail
      deprecated: false
      description: get thumbnail api
      tags:
      - Search API/extract
      - public
      parameters:
      - name: LivePath
        in: query
        description: hls http link
        required: false
        example: https://pp-va-001.s3.amazonaws.com/MH/RECORDINGS/1253344220354326528/e733264437ce4575954abc7841fd0e85/1/play.m3u8
        schema:
          type: string
      - name: VodUrl
        in: query
        description: vod url (mutually exclusive with the above LivePath)
        required: false
        schema:
          type: string
      - name: Offset
        in: query
        description: ms
        required: true
        schema:
          type: integer
      - name: tagvalue
        in: header
        description: ''
        required: false
        example: '{{tagvalue}}'
        schema:
          type: string
          default: '{{tagvalue}}'
      - name: SID
        in: header
        description: ''
        required: false
        example: '{{SID}}'
        schema:
          type: string
          default: '{{SID}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ErrorCode:
                    type: number
                    description: error code
                    default: 1000
                  ErrorMessage:
                    type: string
                    description: error message
                    default: success
                  ImagePath:
                    type: string
                    description: Path for thumbnail upload to imgbed
                required:
                - ErrorCode
                - ErrorMessage
                - ImagePath
                x-apifox-orders:
                - ErrorCode
                - ErrorMessage
                - ImagePath
          headers: {}
          x-apifox-name: OK
      security:
      - bearer: []
        x-apifox:
          schemeGroups:
          - id: -5abKnyHTjWvhoZ9_ql7G
            schemeIds:
            - bearer
          required: true
          use:
            id: -5abKnyHTjWvhoZ9_ql7G
          scopes:
            -5abKnyHTjWvhoZ9_ql7G:
              bearer: []
      x-apifox-folder: Search API/extract
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-236527413-run
      operationId: thumbnail_236527413
      x-source-doc: https://docs.tvunetworks.cn/api-236527413.md
  /api/search/v1/i/activity:
    post:
      summary: Send session heartbeat to track user activity
      deprecated: false
      description: Sends a heartbeat to update the user's last-active timestamp, keeping the session alive
        and enabling real-time active-user tracking. Call this periodically (recommended every 30–60 seconds)
        while the user is viewing the application. The optional 'page' parameter records which page the
        user is currently on for per-page analytics.
      tags:
      - Search API/search/session
      - session
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.UpdateActivityReq'
            example:
              userid: jornalismo@recordtvrio.com.br
              sessionid: 752AB32D93A24127877CEA7BD8A5DCA0
              page: /indexSearch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.UpdateActivityResp'
              example:
                code: 0
                message: succ
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/session
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959085-run
      operationId: Send_session_heartbeat_to_track_user_activity_468959085
      x-source-doc: https://docs.tvunetworks.cn/api-468959085.md
  /api/search/v1/i/autosearch:
    post:
      summary: Run an auto-search query
      deprecated: false
      description: Executes an active search across media objects using the provided criteria and time
        range, returning matched results grouped by source object.
      tags:
      - Search API/search/query
      - query
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.AutoSearchReq'
            example:
              userId: ff8080816b793b5a016b8f11f2090057
              criteria:
                sources:
                - '1031567882850549760'
                fields:
                - event
                keywords:
                - biden
                persons: null
                relationship: or
                conditions: null
                logos: null
              tsRange:
                startTime: 1778304121635
                endTime: 1778304241635
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.ActiveSearchResp'
              example:
                code: 0
                message: succ
                data:
                  size: 0
                  total: 0
                  matchList: null
          headers: {}
          x-apifox-name: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/query
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959086-run
      operationId: Run_an_auto_search_query_468959086
      x-source-doc: https://docs.tvunetworks.cn/api-468959086.md
  /api/search/v1/i/click:
    get:
      summary: List persons detected in a media file by face recognition
      deprecated: false
      description: 'Returns a paginated list of persons identified via face recognition within the specified
        media recording and time window. Identify the recording by ''ph_path'' (required); optionally
        narrow to a specific TVU device using ''peerid''. Each result includes the person''s ID, name,
        thumbnail, and detected timestamps. Sort options: sort=1 ranks persons by how frequently they
        appear (useful for recurrence scoring); sort=2 lists persons in the order they first appear as
        on-screen guests. Session ID required.'
      tags:
      - Search API/search/person
      - person
      parameters:
      - name: userid
        in: query
        description: Authenticated user ID
        required: true
        example: soffeeshu4@tvu.com
        schema:
          type: string
      - name: sessionid
        in: query
        description: Valid session ID for authentication
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Unique media file identifier
        required: false
        example: 05-FFFFFFF11015C601-0C206C452A419A78
        schema:
          type: string
      - name: ph_path
        in: query
        description: Physical path of the media file
        required: true
        example: mp4/FFFFFFF00015C633/55524C204558544C0000018F6581E6E4/240530-05-37-41-157/2/rt.mpd
        schema:
          type: string
      - name: pathtype
        in: query
        description: Path type of the media file
        required: true
        example: mpd
        schema:
          type: string
      - name: peerid
        in: query
        description: Peer node ID of the source device
        required: false
        example: FFFFFFF00015C633
        schema:
          type: string
      - name: starttime
        in: query
        description: Search start time in milliseconds since epoch
        required: false
        example: 1717055940297
        schema:
          type: integer
      - name: endtime
        in: query
        description: Search end time in milliseconds since epoch
        required: false
        example: 1717059381397
        schema:
          type: integer
      - name: pageNum
        in: query
        description: Page number (1-based)
        required: false
        example: 1
        schema:
          type: integer
      - name: pageSize
        in: query
        description: Number of results per page
        required: false
        example: 999
        schema:
          type: integer
      - name: sort
        in: query
        description: 'Sort method: 1=by recurrence, 2=by in-guest order'
        required: false
        example: 1
        schema:
          type: integer
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.PersonListClickResp'
              example:
                code: 0
                message: succ
                data:
                  size: 1
                  total: 1
                  list:
                  - name: ''
                    person_id: 1710142217249mbzk5zx0
                    path: FFFFFFF00015C633_1717048728819.jpg
                    position:
                      height: 271
                      left: 1076
                      top: 118
                      width: 186
                    peer_id: FFFFFFF00015C633
                    timestamp: 1717055943701
                    face_num: 1
                    last_update_ts: 1717055943701
                    tslist:
                    - 1717055943701
                    tracklist:
                    - - 1717055943701
                      - 1717055944101
                    group_id: 00fe20a2d2d84093b304f0d54d4bedda
                    total_track_duration: 1000
                  host_person:
                    name: ''
                    total_track_duration: 0
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/person
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959089-run
      operationId: List_persons_detected_in_a_media_file_by_face_recognition_468959089
      x-source-doc: https://docs.tvunetworks.cn/api-468959089.md
  /api/search/v1/i/combtag:
    post:
      summary: Search media content by tags and free text
      deprecated: false
      description: Searches TVU media content across multiple types (assets, captions, sources) using
        structured tag filters combined with an optional free-text query. Tag filters include person IDs,
        story IDs, media UIDs, feature keywords, and object categories (objectSources, objectUserIds,
        objectGroupIds). When AI search is enabled, free-text queries are automatically parsed to extract
        person name filters and keyword intents. Use the 'source' array to restrict which content types
        are searched. Results are paginated and sorted per the 'sort' parameter. Session ID required.
      tags:
      - Search API/search/slug
      - slug
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchBaseTagsReq'
            example:
              from: monitor
              pageNum: 1
              pageSize: 8
              permission:
                enable: true
              query: ''
              sessionid: 25D978D710BD4C39B1EFB1644AF72631
              sort: 1
              source:
              - source
              tags:
                feature: []
                objectEvents: []
                objectGeo: []
                objectGroupIds:
                - bc3a83594dcd41288c52dac3c552da3d
                - 52dd9380410d4430b23c35d986ed23aa
                objectSources:
                - '1447853763061747712'
                objectTags: []
                objectUserIds:
                - 4668211d13424faea1677b51810cb488
                personids: []
                storyids: []
              tsrange:
                starttime: 1770505900337
                endtime: 1778281900337
              userid: enzoricardo@zohomail.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchCombtagsResp'
              example:
                code: 0
                message: succ
                data:
                  list:
                  - DataObjectId: '1447853763061747712'
                    Score: null
                    hit_data:
                      asset_id: 01088b2511ca4671908e0bae76579f89
                      docid: ''
                      expl: null
                      index: ''
                      lang: en
                      mpd_info: []
                      objectTag: null
                      object_asset: '1502568296128581632'
                      object_grid: '1447853763061747712'
                      slug: Test
                      slug_highlight: ''
                      source: YouTube, Dec 8, 2025 at 8:33PM
                      source_highlight: ''
                      source_id: 55524c204558544c0000019b006c244e
                      source_type: YouTube
                      status: 2
                      timestamp_end: 1778283000000
                      timestamp_start: 1778281773118
                      update_timestamp: 1778281824416
                    type: source
                  size: 1
                  total: 3
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/slug
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959091-run
      operationId: Search_media_content_by_tags_and_free_text_468959091
      x-source-doc: https://docs.tvunetworks.cn/api-468959091.md
  /api/search/v1/i/fetchallobjecttag:
    post:
      summary: Fetch all tags across objects
      deprecated: false
      description: Returns all object tag records matching the request criteria, including total count
        and paginated results.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.FetchAllObjectTagReq'
            example:
              classifications: []
              groupId: []
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.FetchAllObjectTagResp'
              example:
                result: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959092-run
      operationId: Fetch_all_tags_across_objects_468959092
      x-source-doc: https://docs.tvunetworks.cn/api-468959092.md
  /api/search/v1/i/fetchobjecttag:
    post:
      summary: Fetch tags for an object
      deprecated: false
      description: Returns the tag records associated with the specified object, with total count and
        result list.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.FetchObjectTagReq'
            example:
              classifications: []
              objectIds: []
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959093-run
      operationId: Fetch_tags_for_an_object_468959093
      x-source-doc: https://docs.tvunetworks.cn/api-468959093.md
  /api/search/v1/i/getobjectdetail:
    post:
      summary: Retrieve detailed object info
      deprecated: false
      description: Returns full detail of an object including its attributes, type, and tangible associations.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.GetObjectReq'
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetObjectDetailResp'
              example:
                data:
                  tangibleAttributes: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959094-run
      operationId: Retrieve_detailed_object_info_468959094
      x-source-doc: https://docs.tvunetworks.cn/api-468959094.md
  /api/search/v1/i/getrecordinginfoV2:
    post:
      summary: Retrieve recording info array by task ID
      deprecated: false
      description: Returns an array of recording information for the specified task ID. This v2 endpoint
        returns an ordered array rather than a single object.
      tags:
      - Search API/search/recording
      - recording
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.RecordingInfoQReq'
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetRecordingInfoV2Resp'
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/recording
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959100-run
      operationId: Retrieve_recording_info_array_by_task_ID_468959100
      x-source-doc: https://docs.tvunetworks.cn/api-468959100.md
  /api/search/v1/i/getwordssupportlang:
    get:
      summary: List caption supported languages
      deprecated: false
      description: Returns the supported caption languages available for a given media path and time range.
      tags:
      - Search API/search/caption
      - caption
      parameters:
      - name: uid
        in: query
        description: Unique media file identifier
        required: true
        schema:
          type: string
      - name: ph_path
        in: query
        description: Physical path of the media file
        required: true
        schema:
          type: string
      - name: peerid
        in: query
        description: Peer node ID of the source device
        required: true
        schema:
          type: string
      - name: pathtype
        in: query
        description: Path type identifier (e.g. live, vod)
        required: true
        schema:
          type: string
      - name: starttime
        in: query
        description: Search start time in milliseconds since epoch
        required: true
        schema:
          type: integer
      - name: endtime
        in: query
        description: Search end time in milliseconds since epoch
        required: true
        schema:
          type: integer
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchWordsResp'
              example:
                data:
                  list: []
                  size: 1
                  total: 3
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/caption
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959102-run
      operationId: List_caption_supported_languages_468959102
      x-source-doc: https://docs.tvunetworks.cn/api-468959102.md
  /api/search/v1/i/globalnametag:
    post:
      summary: Search persons globally by name or ID tags
      deprecated: false
      description: Searches for named persons across all accessible groups and data sources. Accepts a
        free-text name query (e.g. 'John Smith') and/or a list of known person IDs as tag filters to narrow
        results. Unlike the group-scoped name search, this endpoint queries the global person index and
        returns matches from any group library accessible to the caller. Each result includes person profile
        metadata. Pagination via pageNum/pageSize. Session ID required.
      tags:
      - Search API/search/person
      - person
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchPersonNameWithTagsReq'
            example:
              query: ROBINSON
              size: 20
              userid: shorvath@newsnationnow.com
              sessionid: 1C0C49E66DAC4CEE941EF70F77A94A9F
              tsrange:
                starttime: 1775684026048
                endtime: 1778276026048
              tags:
                personids: []
              permission:
                objectSources:
                - '1031568072126906368'
                - '1031567701400764416'
                enable: true
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchPersonNameWithTagsResp'
              example:
                code: 0
                message: succ
                data:
                  host_person:
                    name: ''
                  list:
                  - access:
                      peerlist:
                      - FFFFFFF00001B200
                    asset_num: 1
                    face_num: 2
                    group_id: b7f47630d47c4479aff16b9e1862e77d
                    name: Amy Robinson
                    path: FFFFFFF00001B200_1721098514284.jpg
                    peer_id: FFFFFFF00001B200
                    person_id: 1721098512007fkpmi32n
                    position:
                      height: 167
                      left: 1330
                      top: 364
                      width: 124
                    timestamp: 1721098514284
                  - access:
                      peerlist:
                      - FFFFFFF00001B203
                    asset_num: 1
                    face_num: 51
                    group_id: b7f47630d47c4479aff16b9e1862e77d
                    name: Eartha Robinson
                    path: FFFFFFF00001B203_1714742713669.jpg
                    peer_id: FFFFFFF00001B203
                    person_id: 1714742710657872ut2gm
                    position:
                      height: 183
                      left: 439
                      top: 144
                      width: 135
                    timestamp: 1714742713669
                  size: 4
                  total: 4
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/person
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959090-run
      operationId: Search_persons_globally_by_name_or_ID_tags_468959090
      x-source-doc: https://docs.tvunetworks.cn/api-468959090.md
  /api/search/v1/i/marksrt:
    post:
      summary: Generate a marked SRT subtitle file
      deprecated: false
      description: Generates an SRT subtitle file for the specified media segment and mark range, returning
        the output file path.
      tags:
      - Search API/search/srt
      - srt
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                accessTime:
                  type: integer
                  format: int64
                  example: 0
                enableTimeCode:
                  description: enableTimeCode query bool true "enableTimeCode"
                  type: boolean
                  example: ''
                export_filename:
                  description: export_filename query string true "export_filename" None
                  type: string
                  example: ''
                file_start_ts:
                  description: file_start_ts query int64 true "file_start_ts" 0
                  type: integer
                  default: 0
                  example: 0
                filename:
                  description: filename query string true "filename" None
                  type: string
                  example: ''
                filetype:
                  description: filetype query string true "filetype"
                  type: string
                  example: ''
                languagetype:
                  description: languagetype query string true "languagetype"
                  type: string
                  example: ''
                mark_end:
                  description: mark_end query int64 true "mark_end" 0
                  type: integer
                  example: 0
                mark_start:
                  description: mark_start query int64 true "mark_start" 0
                  type: integer
                  example: 0
                pathtype:
                  description: pathtype query string true "pathtype"
                  type: string
                  example: ''
                peerid:
                  description: peerid query string true "peerid"
                  type: string
                  example: ''
                ph_path:
                  description: ph_path query string true "ph_path"
                  type: string
                  example: ''
                search_end_ts:
                  description: search_end_ts query int64 true "search_end_ts" 0
                  type: integer
                  example: 0
                search_start_ts:
                  description: search_start_ts query int64 true "search_start_ts" 0
                  type: integer
                  example: 0
                sessionid:
                  description: sessionid query string true "sessionid"
                  type: string
                  example: ''
                source_object_id:
                  description: source object id query string true
                  type: string
                  example: ''
                timeOffset:
                  description: timeOffset config the offset of subtitle appearance time
                  type: integer
                  example: 0
                time_of_day_frequency:
                  description: Maximum word-frequency length supported in time-of-day format
                  type: integer
                  example: 0
                time_zone:
                  description: Special time value used to designate the subtitle start/end time
                  type: string
                  example: ''
                uid:
                  description: uid query string true "uid" None
                  type: string
                  example: ''
                userid:
                  description: userid query string true "userid"
                  type: string
                  example: ''
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GenMarkSrtResp'
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/srt
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959104-run
      operationId: Generate_a_marked_SRT_subtitle_file_468959104
      x-source-doc: https://docs.tvunetworks.cn/api-468959104.md
  /api/search/v1/i/object:
    post:
      summary: Search objects with tag filters
      deprecated: false
      description: Returns a list of objects matching the query along with aggregated tag and type maps,
        respecting user permission groups.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ObjectQReq'
            example:
              filters:
                deleteFlags: []
                events: []
                features: []
                geo: []
                objectIds: []
                objectIntTypes: []
                objectTypes: []
                sources: []
                status: []
                tags: []
                tangibleTypes: []
              needFields: []
              permission:
                groupIds: []
                userIds: []
              tsRange:
                endtime: 1778304241635
                starttime: 1778304121635
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchObjectTagsResp'
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959095-run
      operationId: Search_objects_with_tag_filters_468959095
      x-source-doc: https://docs.tvunetworks.cn/api-468959095.md
  /api/search/v1/i/objecttagsuggestion:
    post:
      summary: Get tag autocomplete suggestions for an object
      deprecated: false
      description: Returns suggested tag values based on a partial input string for the specified object.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ObjectTagSuggestionReq'
            example:
              classifications: []
              groupId: []
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetObjectTagSuggestionResp'
              example:
                result: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959096-run
      operationId: Get_tag_autocomplete_suggestions_for_an_object_468959096
      x-source-doc: https://docs.tvunetworks.cn/api-468959096.md
  /api/search/v1/i/sctemarkerinfo:
    post:
      summary: Query SCTE-35 marker events by time range
      deprecated: false
      description: Returns SCTE-35 splice/marker events for the specified source object within the given
        time range.
      tags:
      - Search API/search/scene
      - scene
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ScteMarkerInfoReq'
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetScteMarkerInfoResp'
              example:
                result: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/scene
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959105-run
      operationId: Query_SCTE_35_marker_events_by_time_range_468959105
      x-source-doc: https://docs.tvunetworks.cn/api-468959105.md
  /api/search/v1/i/searchfileformatbypath:
    post:
      summary: Search file format info by path
      deprecated: false
      description: Returns the file format details (codec, container, resolution) for a media file identified
        by its path.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchFileFormatByPathReq'
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959097-run
      operationId: Search_file_format_info_by_path_468959097
      x-source-doc: https://docs.tvunetworks.cn/api-468959097.md
  /api/search/v1/i/searchmediabyids:
    post:
      summary: Search media objects by ID list
      deprecated: false
      description: Returns media object records for the provided list of object IDs.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchMediaByIdsReq'
            example:
              objectIds: []
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchMediaByIdsResp'
              example:
                result: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959098-run
      operationId: Search_media_objects_by_ID_list_468959098
      x-source-doc: https://docs.tvunetworks.cn/api-468959098.md
  /api/search/v1/i/searchobjectidbymedia:
    post:
      summary: Find object IDs by media paths
      deprecated: false
      description: Returns object records whose media paths match any of the provided path strings.
      tags:
      - Search API/search/object
      - object
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchObjectIdByMediaReq'
            example:
              mediaPathes: []
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchObjectByMediaResp'
              example:
                result: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959099-run
      operationId: Find_object_IDs_by_media_paths_468959099
      x-source-doc: https://docs.tvunetworks.cn/api-468959099.md
  /api/search/v1/i/searchsummarization:
    post:
      summary: Search stored summarizations by time range
      deprecated: false
      description: Returns stored AI summarization items for the specified source object and time range,
        sorted chronologically.
      tags:
      - Search API/search/query
      - query
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchSummarizationRequest'
            example:
              sourceObjectId: '1400073057711820800'
              startTime: 1778298487122
              endTime: 1778299320439
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid
            request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchSummarizationResp'
              example:
                data: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/query
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959087-run
      operationId: Search_stored_summarizations_by_time_range_468959087
      x-source-doc: https://docs.tvunetworks.cn/api-468959087.md
  /api/search/v1/i/summarization:
    post:
      summary: Get AI summarization for a media segment
      deprecated: false
      description: 'Returns an AI-generated text summarization for the specified source object and time
        range.


        Example request:

        ```json

        {

        "sourceObject": "1326008830139699200",

        "path": "",

        "start": 1778306200900,

        "end": 1778307400115,

        "type": 3

        }

        ```


        Example response:

        ```json

        {

        "code": 0,

        "message": "succ",

        "source": "{\"peer_id\":\"FFFFFFF0001CFB05\",\"text\":\"Top standby now here in a minute or two...\"}",

        "summarization": "Weather conditions affecting police helicopter operations."

        }

        ```'
      tags:
      - Search API/search/query
      - query
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SummarizationRequest'
            example:
              sourceObject: '1326008830139699200'
              path: ''
              start: 1778306200900
              end: 1778307400115
              type: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetSummarizationResp'
              example:
                code: 0
                message: succ
                source: '{"peer_id":"FFFFFFF0001CFB05","uid":"05-FFFFFFF0001CFB05-DB1D4D46A5BCCB90","text":"Top
                  standby now here in a minute or two. Well. I have it for the moment here...","lang":"en-us","sourceObjectId":"1326008830139699200"}'
                summarization: Weather conditions affecting police helicopter operations.
          headers: {}
          x-apifox-name: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/query
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959088-run
      operationId: Get_AI_summarization_for_a_media_segment_468959088
      x-source-doc: https://docs.tvunetworks.cn/api-468959088.md
  /api/search/v1/i/updateclick:
    post:
      summary: Record a user click on a search result
      deprecated: false
      description: Records a user's click on a specific search result, incrementing that document's click-through
        count and logging the query context (query string, rank position, language, user agent, session)
        for search relevance analytics. Setting 'order' to 1 additionally writes the query to the search
        query frequency log. Call this once per result click from the client after the user opens a result.
        Session ID required.
      tags:
      - Search API/search/doc
      - doc
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.UpdateClickReq'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/controllers.UpdateClickCntResp'
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/doc
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959106-run
      operationId: Record_a_user_click_on_a_search_result_468959106
      x-source-doc: https://docs.tvunetworks.cn/api-468959106.md
  /api/search/v1/i/version:
    get:
      summary: Get deployed service version
      deprecated: false
      description: Returns the version string of the currently deployed search service instance. Useful
        for build verification, compatibility checks, and troubleshooting. The version is read from 'VERSION.txt'
        bundled with the deployment; returns 'unknown_test' if the file is absent or unreadable.
      tags:
      - Search API/search/health
      - health
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/controllers.GetVersionResponse'
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/health
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959107-run
      operationId: Get_deployed_service_version_468959107
      x-source-doc: https://docs.tvunetworks.cn/api-468959107.md
  /api/search/v1/i/words:
    get:
      summary: Retrieve caption transcript within a media time range
      deprecated: false
      description: Returns speech-to-text caption segments (each containing transcript text and start/end
        timestamps) from a broadcast recording within the specified time window. Identify the recording
        using 'peerid' (TVU device peer ID) and 'ph_path' (placeholder file path). 'pathtype' must be
        provided to route the request correctly, and 'language_type' must match the language used during
        transcription. Use this to extract the spoken transcript for any segment of a live or recorded
        broadcast. Session ID required.
      tags:
      - Search API/search/caption
      - caption
      parameters:
      - name: uid
        in: query
        description: Unique identifier of the media file (MPD path). Can be omitted when peerid is provided.
        required: false
        schema:
          type: string
      - name: ph_path
        in: query
        description: Placeholder file path identifying the media recording.
        required: true
        schema:
          type: string
      - name: peerid
        in: query
        description: TVU device peer ID (e.g. 'A1B2C3D4'). Identifies the source recording device.
        required: true
        schema:
          type: string
      - name: pathtype
        in: query
        description: Type/category of the media path. Required to route the query correctly.
        required: true
        schema:
          type: string
      - name: starttime
        in: query
        description: Start of the search time range, in Unix milliseconds.
        required: true
        schema:
          type: integer
      - name: endtime
        in: query
        description: End of the search time range, in Unix milliseconds. Must be >= starttime.
        required: true
        schema:
          type: integer
      - name: language_type
        in: query
        description: Language/locale code of the caption to search (e.g. 'en-US', 'zh'). Must match the
          language used during transcription.
        required: true
        schema:
          type: string
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/controllers.SearchWordsResp'
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/caption
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959103-run
      operationId: Retrieve_caption_transcript_within_a_media_time_range_468959103
      x-source-doc: https://docs.tvunetworks.cn/api-468959103.md
  /api/search/v2/agentsearch:
    post:
      summary: AI agent search
      deprecated: false
      description: Perform a natural language AI-powered search. Supports conversational context via memoryId.
      tags:
      - Search API/search/apiv2
      - apiv2
      parameters:
      - name: Authorization
        in: header
        description: Bearer token or session token
        required: true
        example: ''
        schema:
          type: string
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.AgentSearchReq'
      responses:
        '200':
          description: 'Successful response; check errorCode for logical results: 0=success, 2002=no results,
            2004=invalid request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.AgentSearchResp'
              example:
                result:
                  list: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/apiv2
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959108-run
      operationId: AI_agent_search_468959108
      x-source-doc: https://docs.tvunetworks.cn/api-468959108.md
  /api/search/v2/ai/search:
    post:
      summary: ai search
      deprecated: false
      description: Search data using natural language.
      tags:
      - Search API/search
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pageNum:
                  type: integer
                  description: The page number of the results to retrieve.
                pageSize:
                  type: integer
                  description: The number of results to include per page.
                query:
                  type: string
              required:
              - pageNum
              - pageSize
              - query
              x-apifox-orders:
              - pageNum
              - pageSize
              - query
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    description: Error Code.
                  result:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            SourceId:
                              type: string
                              description: Source Id.
                            SourceType:
                              type: string
                              description: Source Type.
                            caption:
                              type: string
                              description: Matched caption data.
                            captionWithHighlight:
                              type: string
                              description: Highlighted matched caption data.
                            eventObjectID:
                              type: string
                              description: event object Id.
                            eventTitle:
                              type: string
                              description: event title.
                            eventTitleWithHighlight:
                              type: string
                              description: Highlighted matched Event Title.
                            language:
                              type: string
                              description: caption language.
                            living:
                              type: boolean
                              description: Is living or not.
                            mediaInfo:
                              type: array
                              items:
                                type: object
                                properties:
                                  fullPath:
                                    type: string
                                    description: The file complete path in the AWS S3 bucket.
                                  mediaObjectId:
                                    type: string
                                    description: Media ObjectId.
                                  offset:
                                    type: integer
                                    description: 'Offset '
                                  recordEnd:
                                    type: integer
                                    description: File recording end time.
                                  recordStart:
                                    type: integer
                                    description: File recording start time.
                                  sourceId:
                                    type: string
                                    description: Source id.
                                  sourceObjectId:
                                    type: string
                                    description: Source Object Id.
                                  thumbnailFullPath:
                                    type: string
                                    description: Complete thumbnail path in the AWS S3 bucket.
                                  rid:
                                    type: string
                                    description: The peerId of R who record the mediafile.
                                x-apifox-orders:
                                - fullPath
                                - mediaObjectId
                                - offset
                                - recordEnd
                                - recordStart
                                - sourceId
                                - sourceObjectId
                                - thumbnailFullPath
                                - rid
                            objectTag:
                              type: 'null'
                              description: The object's Tag.
                            previewMediaInfo:
                              type: array
                              items:
                                type: object
                                properties:
                                  fullPath:
                                    type: string
                                    description: The file complete path in the AWS S3 bucket.
                                  mediaObjectId:
                                    type: string
                                    description: Media ObjectId.
                                  offset:
                                    type: integer
                                    description: 'Offset '
                                  recordEnd:
                                    type: integer
                                    description: File recording end time.
                                  recordStart:
                                    type: integer
                                    description: File recording start time.
                                  sourceId:
                                    type: string
                                    description: Source id.
                                  sourceObjectId:
                                    type: string
                                    description: Source Object Id.
                                  thumbnailFullPath:
                                    type: string
[...]
