openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/search/srt API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/search/srt
paths:
  /api/search/v1/i/marksrt:
    post:
      summary: Generate a marked SRT subtitle file
      deprecated: false
      description: Generates an SRT subtitle file for the specified media segment and mark range, returning the output file path.
      tags:
      - Search API/search/srt
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                accessTime:
                  type: integer
                  format: int64
                  example: 0
                enableTimeCode:
                  description: enableTimeCode query bool true "enableTimeCode"
                  type: boolean
                  example: ''
                export_filename:
                  description: export_filename query string true "export_filename" None
                  type: string
                  example: ''
                file_start_ts:
                  description: file_start_ts query int64 true "file_start_ts" 0
                  type: integer
                  default: 0
                  example: 0
                filename:
                  description: filename query string true "filename" None
                  type: string
                  example: ''
                filetype:
                  description: filetype query string true "filetype"
                  type: string
                  example: ''
                languagetype:
                  description: languagetype query string true "languagetype"
                  type: string
                  example: ''
                mark_end:
                  description: mark_end query int64 true "mark_end" 0
                  type: integer
                  example: 0
                mark_start:
                  description: mark_start query int64 true "mark_start" 0
                  type: integer
                  example: 0
                pathtype:
                  description: pathtype query string true "pathtype"
                  type: string
                  example: ''
                peerid:
                  description: peerid query string true "peerid"
                  type: string
                  example: ''
                ph_path:
                  description: ph_path query string true "ph_path"
                  type: string
                  example: ''
                search_end_ts:
                  description: search_end_ts query int64 true "search_end_ts" 0
                  type: integer
                  example: 0
                search_start_ts:
                  description: search_start_ts query int64 true "search_start_ts" 0
                  type: integer
                  example: 0
                sessionid:
                  description: sessionid query string true "sessionid"
                  type: string
                  example: ''
                source_object_id:
                  description: source object id query string true
                  type: string
                  example: ''
                timeOffset:
                  description: timeOffset config the offset of subtitle appearance time
                  type: integer
                  example: 0
                time_of_day_frequency:
                  description: Maximum word-frequency length supported in time-of-day format
                  type: integer
                  example: 0
                time_zone:
                  description: Special time value used to designate the subtitle start/end time
                  type: string
                  example: ''
                uid:
                  description: uid query string true "uid" None
                  type: string
                  example: ''
                userid:
                  description: userid query string true "userid"
                  type: string
                  example: ''
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GenMarkSrtResp'
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/srt
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959104-run
      operationId: Generate_a_marked_SRT_subtitle_file_468959104
      x-source-doc: https://docs.tvunetworks.cn/api-468959104.md
components:
  schemas:
    controllers.GenMarkSrtResp:
      type: object
      properties:
        code:
          description: 'Response code: 0=success, 1001=invalid request, 1002=invalid session, 1404=access denied'
          type: integer
        data:
          description: File path of the generated SRT file, if successful
          type: string
        message:
          description: Human-readable result message
          type: string
      x-apifox-orders:
      - code
      - data
      - message
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
