openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/search/doc API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/search/doc
paths:
  /api/search/v1/i/updateclick:
    post:
      summary: Record a user click on a search result
      deprecated: false
      description: Records a user's click on a specific search result, incrementing that document's click-through count and logging the query context (query string, rank position, language, user agent, session) for search relevance analytics. Setting 'order' to 1 additionally writes the query to the search query frequency log. Call this once per result click from the client after the user opens a result. Session ID required.
      tags:
      - Search API/search/doc
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.UpdateClickReq'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/controllers.UpdateClickCntResp'
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/doc
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959106-run
      operationId: Record_a_user_click_on_a_search_result_468959106
      x-source-doc: https://docs.tvunetworks.cn/api-468959106.md
components:
  schemas:
    controllers.UpdateClickReq:
      type: object
      properties:
        '-':
          type: integer
        docid:
          description: Unique identifier of the clicked document within the index.
          type: string
        index:
          description: Elasticsearch index name that the clicked document belongs to.
          type: string
        lang:
          description: Language of the search query (e.g. 'en', 'zh'). Optional.
          type: string
        order:
          description: Page number the user was on when clicking. Set to 1 to also log query statistics.
          type: integer
        ph_path:
          description: Placeholder file path associated with the clicked document. Optional.
          type: string
        query:
          description: The search query string that produced the result the user clicked on.
          type: string
        rank:
          description: Position of the result within the current search page (1-based).
          type: integer
        sessionid:
          description: Active session ID of the user, used to verify the request.
          type: string
        userid:
          description: User account/email that performed the click.
          type: string
      x-apifox-orders:
      - '-'
      - docid
      - index
      - lang
      - order
      - ph_path
      - query
      - rank
      - sessionid
      - userid
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.UpdateClickCntResp:
      type: object
      properties:
        code:
          type: integer
        json:
          type: object
          additionalProperties: true
          x-apifox-orders: []
          properties: {}
          x-apifox-ignore-properties: []
        message:
          type: string
      x-apifox-orders:
      - code
      - json
      - message
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
