openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/public API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/public
paths:
  /api/metadataproto/MetadataUploader.RegisterWebhook:
    post:
      summary: register webhook
      deprecated: false
      description: 'register webhook


        webhook request body


        ```

        {

        "status": "start / stop",

        "sourceObjectId": "1339231919795212288",

        "mediaObjectId": "1374752064554536960",

        "previewMediaPath": {

        "path": "http://pp-va-001.s3.us-east-1.amazonaws.com/PP/RECORDINGS/1/play.m3u8",

        "duration": 69948450,

        "fileSize": 33148124844,

        "startTimestamp": 1747808030709,

        "endTimestamp": 1747877979159

        },

        "highResMediaPath": {

        "path": "http://pp-va-001.s3.us-east-1.amazonaws.com/PP/RECORDINGS/1/play.m3u8",

        "duration": 69948450,

        "fileSize": 33148124844,

        "startTimestamp": 1747808030709,

        "endTimestamp": 1747877979159

        },

        "thumbnailPath": "http://pp-va-001.s3.us-east-1.amazonaws.com/PP/RECORDINGS/1/rec.jpg",

        "mediaFileType": 1

        }


        ```'
      tags:
      - Search API/public
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhookURL:
                  type: string
                  description: url
                operation:
                  type: string
                  description: register / unregister
                sourceObject:
                  type: array
                  items:
                    type: string
                  description: The list of sourceObjects to be considered (if an empty list is passed, then all sourceObjects are considered).
              x-apifox-refs: {}
              x-apifox-orders:
              - webhookURL
              - operation
              - sourceObject
              required:
              - webhookURL
              - operation
              - sourceObject
            example:
              webhookURL: https://vivid-hamburger.com/
              operation: register
              sourceObject:
              - '1377420057780555776'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: '0x0'
                  errorInfo:
                    type: string
                    description: no errror
                x-apifox-refs: {}
                x-apifox-orders:
                - errorCode
                - errorInfo
                required:
                - errorInfo
                - errorCode
              example:
                errorCode: '0x0'
                errorInfo: no errror
          headers: {}
          x-apifox-name: OK
      security: []
      x-apifox-folder: Search API/public
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-414798733-run
      operationId: register_webhook_414798733
      x-source-doc: https://docs.tvunetworks.cn/api-414798733.md
components:
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
