openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/search/scene API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/search/scene
paths:
  /api/search/v1/i/sctemarkerinfo:
    post:
      summary: Query SCTE-35 marker events by time range
      deprecated: false
      description: Returns SCTE-35 splice/marker events for the specified source object within the given time range.
      tags:
      - Search API/search/scene
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ScteMarkerInfoReq'
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetScteMarkerInfoResp'
              example:
                result: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/scene
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959105-run
      operationId: Query_SCTE_35_marker_events_by_time_range_468959105
      x-source-doc: https://docs.tvunetworks.cn/api-468959105.md
components:
  schemas:
    models.ScteMarkerInfoResult:
      type: object
      properties:
        endTime:
          type: integer
        objectId:
          type: string
        receiverTime:
          type: integer
        startTime:
          type: integer
        tangibleId:
          type: string
        upid:
          type: string
      x-apifox-orders:
      - endTime
      - objectId
      - receiverTime
      - startTime
      - tangibleId
      - upid
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.GetScteMarkerInfoResp:
      type: object
      properties:
        errorCode:
          type: string
        errorInfo:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/models.ScteMarkerInfoResult'
      x-apifox-orders:
      - errorCode
      - errorInfo
      - result
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.ScteMarkerInfoReq:
      type: object
      properties:
        endTime:
          type: integer
        scteType:
          type: string
        sourceObject:
          type: string
        startTime:
          type: integer
      x-apifox-orders:
      - endTime
      - scteType
      - sourceObject
      - startTime
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
