openapi: 3.2.0
info:
  title: TVU Networks — Object Object API/GraphQL/object API
  description: Object API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://mma.tvunetworks.com
  description: Apifox server "MMA"
tags:
- name: Object API/GraphQL/object
paths:
  /api/objectd/v1/query:
    post:
      summary: notifyGroupsEvents
      deprecated: false
      description: ''
      operationId: notifyGroupsEvents
      tags:
      - Object API/GraphQL/object
      parameters:
      - name: SID
        in: cookie
        description: ''
        required: false
        example: '{{SID}}'
        schema:
          type: string
          default: '{{SID}}'
      - name: object01
        in: cookie
        description: ''
        required: false
        example: 01daily1
        schema:
          type: string
          default: 01daily1
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                groups:
                  type: array
                  items:
                    type: object
                    properties:
                      groupId:
                        type: string
                        description: 变化的groupId
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            action:
                              type: string
                              description: 变化的操作类型 （add or delete）
                            users:
                              type: array
                              items:
                                type: string
                              description: 变化的userId列表
                          required:
                          - action
                          - users
                          x-apifox-orders:
                          - action
                          - users
                    required:
                    - groupId
                    - events
                    x-apifox-orders:
                    - groupId
                    - events
                  description: List of changed groups.
              required:
              - groups
              x-apifox-orders:
              - groups
            example: "mutation{\n  notifyGroupsEvents(input:\n  {\n    groups: [\n      {\n        groupId: \"123344\",\n        events: [\n          {\n            action: \"delete\",\n            users: [\"11111\"]\n          }\n        ]\n      }\n    ]\n  }){\n    errorCode\n    errorInfo\n  }\n}"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: Error code
                  errorInfo:
                    type: string
                    description: Error message
                required:
                - errorCode
                - errorInfo
                x-apifox-orders:
                - errorCode
                - errorInfo
              example:
                data:
                  notifyGroupsEvents:
                    errorCode: '0x0'
                    errorInfo: Succ
          headers: {}
          x-apifox-name: Success
      security:
      - bearer: []
        x-apifox:
          schemeGroups:
          - id: ki9DLM-SuqKr5jDe8tmCo
            schemeIds:
            - bearer
          required: true
          use:
            id: ki9DLM-SuqKr5jDe8tmCo
          scopes:
            ki9DLM-SuqKr5jDe8tmCo:
              bearer: []
      x-apifox-folder: Object API/GraphQL/object
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-321782279-run
      x-source-doc: https://docs.tvunetworks.cn/api-321782279.md
components:
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
