openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/search/slug API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/search/slug
paths:
  /api/search/v1/i/combtag:
    post:
      summary: Search media content by tags and free text
      deprecated: false
      description: Searches TVU media content across multiple types (assets, captions, sources) using structured tag filters combined with an optional free-text query. Tag filters include person IDs, story IDs, media UIDs, feature keywords, and object categories (objectSources, objectUserIds, objectGroupIds). When AI search is enabled, free-text queries are automatically parsed to extract person name filters and keyword intents. Use the 'source' array to restrict which content types are searched. Results are paginated and sorted per the 'sort' parameter. Session ID required.
      tags:
      - Search API/search/slug
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchBaseTagsReq'
            example:
              from: monitor
              pageNum: 1
              pageSize: 8
              permission:
                enable: true
              query: ''
              sessionid: 25D978D710BD4C39B1EFB1644AF72631
              sort: 1
              source:
              - source
              tags:
                feature: []
                objectEvents: []
                objectGeo: []
                objectGroupIds:
                - bc3a83594dcd41288c52dac3c552da3d
                - 52dd9380410d4430b23c35d986ed23aa
                objectSources:
                - '1447853763061747712'
                objectTags: []
                objectUserIds:
                - 4668211d13424faea1677b51810cb488
                personids: []
                storyids: []
              tsrange:
                starttime: 1770505900337
                endtime: 1778281900337
              userid: enzoricardo@zohomail.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SearchCombtagsResp'
              example:
                code: 0
                message: succ
                data:
                  list:
                  - DataObjectId: '1447853763061747712'
                    Score: null
                    hit_data:
                      asset_id: 01088b2511ca4671908e0bae76579f89
                      docid: ''
                      expl: null
                      index: ''
                      lang: en
                      mpd_info: []
                      objectTag: null
                      object_asset: '1502568296128581632'
                      object_grid: '1447853763061747712'
                      slug: Test
                      slug_highlight: ''
                      source: YouTube, Dec 8, 2025 at 8:33PM
                      source_highlight: ''
                      source_id: 55524c204558544c0000019b006c244e
                      source_type: YouTube
                      status: 2
                      timestamp_end: 1778283000000
                      timestamp_start: 1778281773118
                      update_timestamp: 1778281824416
                    type: source
                  size: 1
                  total: 3
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/slug
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959091-run
      operationId: Search_media_content_by_tags_and_free_text_468959091
      x-source-doc: https://docs.tvunetworks.cn/api-468959091.md
components:
  schemas:
    models.SearchBaseTagsReq:
      type: object
      properties:
        durationRange:
          $ref: '#/components/schemas/models.SearchDurationRange'
        pageNum:
          type: integer
          examples:
          - 1
        pageSize:
          type: integer
          examples:
          - 8
        permission:
          $ref: '#/components/schemas/models.AccessPermission'
        query:
          type: string
          examples:
          - ROBINSON
        searchLang:
          type: string
        sessionid:
          type: string
          examples:
          - 1C0C49E66DAC4CEE941EF70F77A94A9F
        slugtag:
          type: boolean
        sort:
          type: integer
          examples:
          - 1
        source:
          type: array
          items:
            type: string
          examples:
          - - source
        tags:
          $ref: '#/components/schemas/models.SearchTags'
        tsrange:
          $ref: '#/components/schemas/models.SearchTsRange'
        userid:
          type: string
          examples:
          - shorvath@newsnationnow.com
      x-apifox-orders:
      - durationRange
      - pageNum
      - pageSize
      - permission
      - query
      - searchLang
      - sessionid
      - slugtag
      - sort
      - source
      - tags
      - tsrange
      - userid
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.SearchCombtagsResp:
      type: object
      properties:
        code:
          description: error code
          type: integer
          examples:
          - 0
        data:
          description: return data
          allOf:
          - $ref: '#/components/schemas/controllers.CapReturnData'
        message:
          description: error message
          type: string
          examples:
          - succ
      x-apifox-orders:
      - code
      - data
      - message
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.SearchLocation:
      type: object
      properties:
        br:
          type: string
        tl:
          type: string
      x-apifox-orders:
      - br
      - tl
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.CapReturnData:
      type: object
      properties:
        list:
          type: array
          items:
            type: string
        size:
          type: integer
          examples:
          - 1
        total:
          type: integer
          examples:
          - 3
      x-apifox-orders:
      - list
      - size
      - total
      x--orders:
      - list
      - size
      - total
      x--ignore-properties: []
      x-apifox-folder: ''
    models.SearchDurationRange:
      type: object
      properties:
        durationEnd:
          type: integer
        durationStart:
          type: integer
      x-apifox-orders:
      - durationEnd
      - durationStart
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.GpsInfo:
      type: object
      properties:
        distance:
          type: number
        lat:
          type: number
        lon:
          type: number
      x-apifox-orders:
      - distance
      - lat
      - lon
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.SearchTags:
      type: object
      properties:
        CustomSourceSort:
          description: Custom sort order for sources, comma-separated
          type: string
        favorite:
          type: integer
        feature:
          type: array
          items:
            type: string
        geoinfo:
          type: string
        gpsinfo:
          $ref: '#/components/schemas/models.GpsInfo'
        liveSources:
          description: 'Sort by source status, first priority: sources actively ingesting (have ongoing events)'
          type: array
          items:
            type: string
        location:
          $ref: '#/components/schemas/models.SearchLocation'
        noInputSources:
          description: 'Sort by source status, third priority: online sources with no input'
          type: array
          items:
            type: string
        objectEvents:
          description: events
          type: array
          items:
            type: string
        objectGeo:
          description: geo
          type: array
          items:
            type: string
        objectGroupIds:
          description: Group ID list for object search
          type: array
          items:
            type: string
          examples:
          - - bc3a83594dcd41288c52dac3c552da3d
        objectSources:
          description: sources
          type: array
          items:
            type: string
          examples:
          - - '1447853763061747712'
        objectTags:
          description: object tags
          type: array
          items:
            type: string
        objectUserIds:
          description: User ID list for object search
          type: array
          items:
            type: string
          examples:
          - - 4668211d13424faea1677b51810cb488
        onlineSources:
          description: 'Sort by source status, second priority: online sources with no ongoing event'
          type: array
          items:
            type: string
        personids:
          type: array
          items:
            type: string
        status:
          description: ingesting or live or other
          type: integer
        storyids:
          type: array
          items:
            type: string
        uids:
          type: array
          items:
            type: string
      x-apifox-orders:
      - CustomSourceSort
      - favorite
      - feature
      - geoinfo
      - gpsinfo
      - liveSources
      - location
      - noInputSources
      - objectEvents
      - objectGeo
      - objectGroupIds
      - objectSources
      - objectTags
      - objectUserIds
      - onlineSources
      - personids
      - status
      - storyids
      - uids
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.AccessPermission:
      type: object
      properties:
        black:
          type: array
          items:
            type: string
        enable:
          type: boolean
          examples:
          - true
        enableown:
          type: boolean
        objectSources:
          description: New object permission sources
          type: array
          items:
            type: string
          examples:
          - - '1031568072126906368'
        private:
          type: array
          items:
            type: string
        public:
          type: array
          items:
            type: string
      x-apifox-orders:
      - black
      - enable
      - enableown
      - objectSources
      - private
      - public
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.SearchTsRange:
      type: object
      properties:
        endtime:
          type: integer
          examples:
          - 1778304241635
        field:
          type: string
        starttime:
          type: integer
          examples:
          - 1778304121635
      x-apifox-orders:
      - endtime
      - field
      - starttime
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
