openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/search/apiv2 API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/search/apiv2
paths:
  /api/search/v2/agentsearch:
    post:
      summary: AI agent search
      deprecated: false
      description: Perform a natural language AI-powered search. Supports conversational context via memoryId.
      tags:
      - Search API/search/apiv2
      parameters:
      - name: Authorization
        in: header
        description: Bearer token or session token
        required: true
        example: ''
        schema:
          type: string
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.AgentSearchReq'
      responses:
        '200':
          description: 'Successful response; check errorCode for logical results: 0=success, 2002=no results, 2004=invalid request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.AgentSearchResp'
              example:
                result:
                  list: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/apiv2
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959108-run
      operationId: AI_agent_search_468959108
      x-source-doc: https://docs.tvunetworks.cn/api-468959108.md
components:
  schemas:
    controllers.AgentSearchReq:
      type: object
      properties:
        memoryId:
          description: Session memory ID for conversational context; pass empty string to start a new session
          type: string
        pageNum:
          description: Page number for pagination, starting from 1
          type: integer
        pageSize:
          description: Number of results per page
          type: integer
        query:
          description: Natural language search query
          type: string
      x-apifox-orders:
      - memoryId
      - pageNum
      - pageSize
      - query
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.AgentSearchItems:
      type: object
      properties:
        list:
          description: List of matched search items
          type: array
          items:
            type: string
        memoryId:
          description: Session memory ID; pass this value in subsequent requests to maintain conversation context
          type: string
        size:
          description: Number of items in the current response
          type: integer
        total:
          description: Total number of matching items
          type: integer
      x-apifox-orders:
      - list
      - memoryId
      - size
      - total
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.AgentSearchResp:
      type: object
      properties:
        errorCode:
          description: 'Business result code: 0=success, 2002=no results, 2004=invalid request, 2008=access denied'
          type: integer
        errorInfo:
          description: Human-readable result message
          type: string
        result:
          description: Search result payload
          allOf:
          - $ref: '#/components/schemas/controllers.AgentSearchItems'
      x-apifox-orders:
      - errorCode
      - errorInfo
      - result
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
