openapi: 3.2.0
info:
  title: TVU Networks — Producer Producer API/Input Source API
  description: Producer API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
tags:
- name: Producer API/Input Source
paths:
  /graphql2rest/addSourceToSlot:
    post:
      summary: add source to slot
      deprecated: false
      description: add a source(IP or Device) to slot to live
      operationId: 23de0eac631f7eef0d853931c51edb60
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSourceParam'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778523-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778523.md
  /graphql2rest/createEXTSource:
    post:
      summary: create EXT source
      deprecated: false
      operationId: 6ef816eddd0017249fa35959ed20e977
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramSource'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778517-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778517.md
  /graphql2rest/createHTMLSource:
    post:
      summary: create HTML source
      deprecated: false
      operationId: fde359780f456e410c27e9f2d6563f51
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramSource'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778521-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778521.md
  /graphql2rest/createRTMPPushSource:
    post:
      summary: create RTMP push source
      deprecated: false
      description: ''
      operationId: 74fd757e0ac517c263da2950f98fe9e7
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramSource'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778518-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778518.md
  /graphql2rest/createRTPFECSource:
    post:
      summary: create RTPFEC source
      deprecated: false
      description: ''
      operationId: 44d6b23052466aae0abd7425c4580ac9
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRTPFECSourceParam'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778519-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778519.md
  /graphql2rest/createSRTSource:
    post:
      summary: create SRT source
      deprecated: false
      description: ''
      operationId: 521306dd99fea7aaef47b60f0c44c4e1
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSRTSourceParam'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778520-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778520.md
  /graphql2rest/cutSlotToPGM:
    post:
      summary: cut slot to PGM
      deprecated: false
      description: Cut a slot to PGM, the source on slot will be cut to PGM as current output video, the parameter, subTimestamp is the cut point, if you has the source previewing on your application, you should extract its value, form video stream to obtain accurate cut
      operationId: 7fcf254880da1a3349e05db9d48b9000
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceSwitchVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778526-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778526.md
  /graphql2rest/cutSlotToPVW:
    post:
      summary: cut slot to PVW
      deprecated: false
      operationId: b784842b08b19a5ce7e156fce5dcf0f6
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceSwitchVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778525-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778525.md
  /graphql2rest/deleteIPSource:
    post:
      summary: delete IP source
      deprecated: false
      description: delete IP source (include EXT/RTMP/RTPFEC/SRT source)
      operationId: 9297dd2dd9e552a6374a122adfada783
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              required:
              - sourceId
              type: object
              properties:
                sourceId:
                  type: string
                  examples:
                  - '000000000000000'
              x-apifox-orders:
              - sourceId
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778522-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778522.md
  /graphql2rest/removeSourceFromSlot:
    post:
      summary: remove source from slot
      deprecated: false
      description: remove source on slot
      operationId: a80e5946d68b7776d4401fe735c0f6ab
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopLiveRequest'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778524-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778524.md
  /graphql2rest/setSourceDelay:
    post:
      summary: set source delay
      deprecated: false
      operationId: 23d910d07a5e4766f0b90beaadf44dcf
      tags:
      - Producer API/Input Source
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceDelayRequest'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Input Source
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778527-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778527.md
components:
  schemas:
    CreateSRTSourceParam:
      required:
      - mode
      - port
      - sourceName
      - programId
      type: object
      properties:
        mode:
          type: integer
          description: '0: caller mode,  1: listener mode, if you choose caller mode , you need to pass host、port、passphrase(this param is not must);if you choose listener mode, you need to pass port .'
          format: int32
          examples:
          - 514128581
        streamId:
          type: string
          description: stream id
          examples:
          - fseqVETQlOMfUdxbdzHwvoyVElkDrKOFPP
        port:
          type: integer
          description: please input 60000-65000 port num
          format: int32
          examples:
          - 2044177627
        productionId:
          type: integer
          description: production id
          format: int64
          examples:
          - 0
        latency:
          type: integer
          description: latency,unit is ms(millisecond), default:2000
          format: int64
          default: 2000
          examples:
          - 2000
        host:
          type: string
          description: SRT host, can be IP or a domain, required for caller mode
          examples:
          - DDaeggnuoTjXObJdyllxbOhafq
        passphrase:
          type: string
          description: pass phrase
          examples:
          - Ivie
        sourceName:
          type: string
          description: source name
          examples:
          - Source Name
        packetSize:
          type: integer
          description: packet size
          format: int64
          examples:
          - 3821586227798934500
        advParams:
          type: string
          description: adv params
          examples:
          - HePYvBUhG
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - mode
      - streamId
      - port
      - productionId
      - latency
      - host
      - passphrase
      - sourceName
      - packetSize
      - advParams
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    CreateRTPFECSourceParam:
      required:
      - port
      - sourceName
      - programId
      type: object
      properties:
        port:
          type: integer
          description: please input 60000-65000 port num, eg:60000
          format: int32
          examples:
          - 60000
        productionId:
          type: integer
          description: production id
          format: int64
          examples:
          - 0
        sourceName:
          type: string
          description: source name, RTP-FEC Source
          examples:
          - Source Name
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - port
      - productionId
      - sourceName
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    ProgramSource:
      required:
      - sourceName
      - programId
      type: object
      properties:
        productionId:
          type: integer
          description: production id
          format: int64
          examples:
          - 0
        source:
          maxLength: 1024
          type: string
          description: source
          examples:
          - XrcTXPmOllIygJiwnEiRNwqLADQdDLBwUOboGNDPVwzPklVhHcsEYrqFfmZDxIVf
        sourceName:
          maxLength: 256
          type: string
          description: source name
          examples:
          - Source Name
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - productionId
      - source
      - sourceName
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    AddSourceParam:
      required:
      - sourceId
      - sourceType
      - slotNo
      - programId
      type: object
      properties:
        sourceId:
          type: string
          description: source id
          examples:
          - '000000000000000'
        sourceType:
          type: string
          description: 'sourceType include: IPSource/TVUA/TVUOne/Grid/CustomSource'
          enum:
          - IPSource
          - TVUA
          - TVUOne
          - Grid
          - CustomSource
        slotNo:
          type: string
          description: slot no
          examples:
          - s1
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - sourceId
      - sourceType
      - slotNo
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    SourceDelayRequest:
      required:
      - delay
      - slotNo
      - programId
      type: object
      properties:
        delay:
          maximum: 10000
          minimum: 300
          type: integer
          description: delay
          format: int64
          examples:
          - 6486
        slotNo:
          type: string
          description: slot no
          examples:
          - s1
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - delay
      - slotNo
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    SourceSwitchVo:
      required:
      - slotNo
      - programId
      type: object
      properties:
        actionTime:
          type: integer
          description: action time on client,if unset,will use system current time
          format: int64
          examples:
          - 0
        effect:
          type: integer
          description: cut effect
          format: int32
          examples:
          - 60
        switchShm:
          type: boolean
          description: whether switch current PGM to PVW after cut this new source to the PGM
          default: true
          examples:
          - true
        effectDuration:
          type: integer
          description: cut effect duration
          format: int32
          examples:
          - 3000
        slotNo:
          type: string
          description: source slot no to be cut to PGM
          examples:
          - s1
        subTimestamp:
          type: string
          description: timestamp when the cut execution,if unset,will use system current time,this should be extracted from the source preview video stream
          examples:
          - '0'
        programId:
          type: integer
          description: program ID
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - actionTime
      - effect
      - switchShm
      - effectDuration
      - slotNo
      - subTimestamp
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    StopLiveRequest:
      required:
      - slotNo
      - programId
      type: object
      properties:
        rid:
          type: string
          description: rid
          examples:
          - xxxx
        slotNo:
          type: string
          description: slot no
          examples:
          - s1
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - rid
      - slotNo
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
