openapi: 3.2.0
info:
  title: TVU Networks — Channel Channel API/SCTE API
  description: Channel API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
tags:
- name: Channel API/SCTE
paths:
  /openapi/playout/3.0/operateManualSCTE:
    post:
      summary: Adding ManualSCTE via API
      deprecated: false
      description: ''
      tags:
      - Channel API/SCTE
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  programId:
                    type: string
                    description: Channel's primary key id
                  commandType:
                    type: integer
                    description: Types of Scte
                    enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    x-apifox-enum:
                    - value: 1
                      name: SpliceInsertScte
                      description: ''
                    - value: 2
                      name: TimeSignal Manual Model
                      description: ''
                    - value: 3
                      name: TimeSignal Auto Model
                      description: ''
                    - value: 4
                      name: TimeSignal Free Model
                      description: ''
                  startFlag:
                    type: boolean
                    description: 'Scte Start or stop; Required when commandType=2; true: Scte Start,false: Scte Stop'
                  duration:
                    type: integer
                    description: 'SCTE duration, required when commandType=1 or commandType=3, unit: seconds'
                  signalType:
                    type: integer
                    enum:
                    - 2
                    - 3
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 16
                    - 17
                    - 32
                    - 33
                    - 34
                    - 35
                    - 48
                    - 49
                    - 52
                    - 53
                    - 54
                    - 55
                    x-apifox-enum:
                    - value: 2
                      name: (0x30)_Manually stop
                      description: ''
                    - value: 3
                      name: (0x30)_Auto stop
                      description: ''
                    - value: 5
                      name: (0x22)_Auto stop
                      description: ''
                    - value: 6
                      name: (0x34)_Auto stop
                      description: ''
                    - value: 7
                      name: (0x22)_Manually stop
                      description: ''
                    - value: 8
                      name: (0x34)_Manually stop
                      description: ''
                    - value: 9
                      name: Time signal(0x22 0x30 0x34)multi manual stop
                      description: ''
                    - value: 10
                      name: Time signal(0x22 0x30 0x34)multi auto stop
                      description: ''
                    - value: 16
                      name: (0x10) Program Start
                      description: ''
                    - value: 17
                      name: (0x11) Program End
                      description: ''
                    - value: 32
                      name: (0x20) Chapter Start
                      description: ''
                    - value: 33
                      name: (0x21) Chapter End
                      description: ''
                    - value: 34
                      name: (0x22) Break Start
                      description: ''
                    - value: 35
                      name: (0x23) Break End
                      description: ''
                    - value: 48
                      name: (0x30) Provider Ad Start
                      description: ''
                    - value: 49
                      name: (0x31) Provider Ad End
                      description: ''
                    - value: 52
                      name: (0x34) Provider Placement Opportunity Start
                      description: ''
                    - value: 53
                      name: (0x35) Provider Placement Opportunity End
                      description: ''
                    - value: 54
                      name: (0x36) Distributor Placement Opportunity Start
                      description: ''
                    - value: 55
                      name: (0x37) Distributor Placement Opportunity End
                      description: ''
                    description: The specific type of TimeSignalFree, which must be passed when commandType=4
                  adSlateId:
                    type: string
                    description: SourceId of the Underplay played when executing SCTE
                x-apifox-orders:
                - programId
                - commandType
                - startFlag
                - duration
                - signalType
                - adSlateId
                required:
                - programId
                - commandType
                - startFlag
                - signalType
              examples:
                '1':
                  summary: TimeSignalManualModel
                  value:
                    commandType: 2
                    startFlag: true
                    programId: 5004aef7dc424dacb8e064eee328f75c
                    sourceIdOfAdSlate: 55524c204558544c0000118c8a51981e
                '2':
                  summary: TimeSignalAutoModel
                  value:
                    commandType: 3
                    duration: 30
                    programId: 5004aef7dc424dacb8e064eee328f75c
                    sourceIdOfAdSlate: 55524c204558544c0000118c8a51981e
                '3':
                  summary: SpliceInsert
                  value:
                    commandType: 1
                    duration: 30
                    programId: 5004aef7dc424dacb8e064eee328f75c
                    sourceIdOfAdSlate: 55524c204558544c0000118c8a51981e
                '4':
                  summary: TimeSignaleFreeModel
                  value:
                    commandType: 4
                    signalType: 16
                    programId: 5004aef7dc424dacb8e064eee328f75c
          headers: {}
          x-apifox-name: Success
      security: []
      x-apifox-folder: Channel API/SCTE
      x-apifox-status: developing
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778585-run
      operationId: Adding_ManualSCTE_via_API_250778585
      x-source-doc: https://docs.tvunetworks.cn/api-250778585.md
components:
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
