openapi: 3.0.1
info:
  title: TVU Networks — MediaMind Story Creation
  description: MediaMind Story Creation operations of the TVU Networks public HTTP API, assembled verbatim
    from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/).
    Each operation body is the provider's own export; only grouping, servers[] and operationId backfill
    were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
paths:
  /mma/v1/story:
    post:
      summary: create story
      deprecated: false
      description: create story. API user provides its StoryID, TVU will return a TVU’s StoryID.
      tags:
      - MediaMind Story Creation
      parameters:
      - name: appkey
        in: header
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: signature
        in: header
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: requestId
        in: header
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: timestamp
        in: header
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: account
        in: header
        description: ''
        required: true
        example: test@tvu.com
        schema:
          type: string
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                story:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id generated by API user. TVU will generate a new ID in TVU ecosystem.
                    title:
                      type: string
                      description: The title of STORY
                      faker: random.words
                    type:
                      type: string
                      description: Planning Event /Video /Audio / Script/CG/Still graphic
                    slug:
                      type: string
                      description: More detail description of STORY
                      faker: random.words
                    creator:
                      type: string
                      description: The API user’s account in TVU ecosystem, same as Account in request
                        header
                    assign:
                      type: string
                      description: The PeerID list of TVUOne/Anywhere or group name that will be notified.
                        null means all TVUOne/TVUAnywhere.
                    receiver:
                      type: string
                      description: The PeerID list of Receivers. null means MediaMind will automatically
                        assign a Receiver that is chose from a pool of Receiver to save placeholder.
                    create_time:
                      type: number
                      description: timestamp in millisecond since the Epoch
                    alert:
                      type: string
                      description: alert content that journal will read in TVUOne touchscreen and TVUAnywhere
                        push notification
                  x-apifox-orders:
                  - id
                  - creator
                  - title
                  - type
                  - slug
                  - assign
                  - receiver
                  - create_time
                  - alert
                  required:
                  - id
                  - title
                  - creator
              x-apifox-orders:
              - story
              required:
              - story
            example: "{\r\n    \"story\": {\r\n        \"id\": \"\",\r\n        \"title\": \"\",\r\n \
              \       \"type\": \"\",\r\n        \"slug\": \"\",\r\n        \"creator\": \"\",\r\n   \
              \     \"assign\": null,\r\n        \"receiver\": \"\",\r\n        \"create_time\": ,\r\n\
              \        \"alert\": \"\"\r\n    }\r\n}"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
                  content:
                    type: object
                    properties:
                      id:
                        type: string
                        description: created by API user
                      story_id:
                        type: string
                        description: created by TVU
                      create_time:
                        type: number
                        description: in millisecond, created time in TVU
                    x-apifox-orders:
                    - id
                    - story_id
                    - create_time
                    required:
                    - id
                    - story_id
                    - create_time
                x-apifox-orders:
                - error_code
                - error_message
                - content
                required:
                - error_code
                - error_message
                - content
              example: "{\r\n    \"error_code\": \"0x0\",\r\n    \"error_message\": \"success\",\r\n \
                \   \"content\" : {\r\n        \"id\": \"CNN_1533888927000\",  //created by API user\r\
                \n        \"story_id\": \"TVU_CNN_1533888927000\",  //created by TVU\r\n        \"create_time\"\
                : 1533888927000    //created by TVU\r\n    }\r\n}"
          headers: {}
          x-apifox-name: Success
      security: []
      x-apifox-folder: MediaMind Story Creation
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-236527415-run
      operationId: create_story_236527415
      x-source-doc: https://docs.tvunetworks.cn/api-236527415.md
components:
  schemas: {}
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu鉴权:
      type: bearer
      scheme: bearer
