openapi: 3.0.1
info:
  title: TVU Networks — Channel API
  description: Channel API operations of the TVU Networks public HTTP API, assembled verbatim from the
    per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/).
    Each operation body is the provider's own export; only grouping, servers[] and operationId backfill
    were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
paths:
  /EPG/url:
    post:
      summary: epg file export
      deprecated: false
      description: epg file export
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                programId:
                  type: string
                  faker: 759aa623c7c04b5d913d138a712758ab
                  description: channel id
              required:
              - programId
              x-apifox-orders:
              - programId
            example:
              programId: 759aa623c7c04b5d913d138a712758ab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: string
                    description: Returns the updated epg file URL
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result: null
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '80603709'
                errorInfo: You do not have permission to access the program.
                result: null
          headers: {}
          x-apifox-name: Have no authority
        x-500:fail to sync epg file to s3:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '81003112'
                errorInfo: The exported EPG fails to synchronize with S3, please retry later
                result: null
          headers: {}
          x-apifox-name: fail to sync epg file to s3
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778572-run
      operationId: epg_file_export_250778572
      x-source-doc: https://docs.tvunetworks.cn/api-250778572.md
  /clone/enableSyncBroadcastData:
    get:
      summary: 'enable/disable sync at start of Broadcast day '
      deprecated: false
      description: 'enable/disable sync at start of Broadcast day '
      tags:
      - Channel API/clone
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                programId:
                  type: string
                  description: Slave channel id
                syncBroadcastDataOpen:
                  type: integer
                  description: 'open: 0-disable, 1-enable'
              required:
              - programId
              - syncBroadcastDataOpen
              x-apifox-orders:
              - programId
              - syncBroadcastDataOpen
            example:
              programId: 6a4818c9ae9747ca9ab8020a17817d61
              syncBroadcastDataOpen: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apifox-orders: []
              example:
                errorCode: '0x0'
                errorInfo: Success
                result: null
          headers: {}
          x-apifox-name: Success
      security: []
      x-apifox-folder: Channel API/clone
      x-apifox-status: developing
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778581-run
      operationId: enable_disable_sync_at_start_of_Broadcast_day_250778581
      x-source-doc: https://docs.tvunetworks.cn/api-250778581.md
  /crawl/setCrawl:
    post:
      summary: Turn on/off craw
      deprecated: false
      description: Turn on/off craw
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: integer
                  description: 0 indicates program and 1 indicates receive
                entityId:
                  type: string
                  description: channel id
                setOn:
                  type: integer
                  description: '1: open crawl; 0: close crawl'
              required:
              - entityType
              - entityId
              - setOn
              x-apifox-orders:
              - entityType
              - entityId
              - setOn
            example:
              entityType: 0
              entityId: 759aa623c7c04b5d913d138a712758ab
              setOn: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      deleteFlag:
                        type: integer
                      createTime:
                        type: integer
                      updateTime:
                        type: integer
                      sceneId:
                        type: string
                      entityType:
                        type: integer
                      entityId:
                        type: string
                      userId:
                        type: string
                      setOn:
                        type: integer
                      secondarySetOn:
                        type: integer
                      operationUserId:
                        type: string
                      context:
                        type: string
                      contextId:
                        type: 'null'
                      rssFeed:
                        type: string
                    required:
                    - id
                    - deleteFlag
                    - createTime
                    - updateTime
                    - sceneId
                    - entityType
                    - entityId
                    - userId
                    - setOn
                    - secondarySetOn
                    - operationUserId
                    - context
                    - contextId
                    - rssFeed
                    x-apifox-orders:
                    - id
                    - deleteFlag
                    - createTime
                    - updateTime
                    - sceneId
                    - entityType
                    - entityId
                    - userId
                    - setOn
                    - secondarySetOn
                    - operationUserId
                    - context
                    - contextId
                    - rssFeed
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result:
                  id: 847276f8a17f47679e82b1eea688295d
                  deleteFlag: 0
                  createTime: 1712120170655
                  updateTime: 1716965106805
                  sceneId: '17121201706181'
                  entityType: 0
                  entityId: 759aa623c7c04b5d913d138a712758ab
                  userId: bc4d81f50e0442068d83a9507ef63cc2
                  setOn: 0
                  secondarySetOn: 0
                  operationUserId: bc4d81f50e0442068d83a9507ef63cc2
                  context: 'Latest &amp; Breaking News on Fox News          Business owner wins tight
                    Texas primary, aims to make history by flipping deep-blue House seat          Louisiana
                    to become 1st state to require Ten Commandments be displayed in schools if governor
                    signs bill          Trump&apos;s defense dismantles prosecution&apos;s imaginary crimes.
                    But did jury listen?          GOP Rep Tony Gonzales survives challenge from the right
                    in Texas runoff          Former Trump official wins tight Texas GOP primary runoff          Charlamagne
                    tha God says he agrees with Robert De Niro: I also suffer from &apos;Trump Derangement
                    Syndrome&apos;          GREG GUTFELD: As the Democratic Party becomes female, the
                    Republican Party becomes more male          California burglaries committed by South
                    American theft ring involve hidden cameras in shrubbery: authorities          Opposed
                    by top Texas Republicans and Trump, state House speaker survives GOP primary runoff
                    challenge          SEAN HANNITY: The system of justice has been turned into a tool
                    for political retribution          Steelers QB Justin Fields shuts down kick returner
                    rumor: &apos;I&apos;m not here to do that&apos;          Accused New York City serial
                    puncher indicted on hate crime charges          Kylie Kelce has altercation with woman
                    during apparent Jersey Shore date night: &apos;You&apos;re embarrassing yourself&apos;          Ukraine&apos;s
                    Zelenskyy is expected in Normandy for commemorations of 80 years since D-Day, Macron
                    says          RFK Jr. slams Democrats for toppling Confederate statues: &apos;Destroying
                    history&apos;          NY v Trump: Prosecution says they have presented &apos;powerful
                    evidence&apos; against former president          Michigan trooper hit with murder
                    charge for striking man with unmarked SUV          Almost 2 months after embassy raid,
                    Ecuador is ready to talk with Mexico and reach solution          Fifth-generation
                    Texan advances past GOP primary runoff to take on progressive homeless activist          JESSE
                    WATTERS: Robert De Niro went off-script and admitted the truth          Oklahoma angler
                    reels in 95-pound catfish: &apos;Heck of a catch&apos;          Retired Navy officer
                    Furman advances past GOP primary runoff to take on federally indicted Texas Democrat          Dolphins&apos;
                    Mike McDaniel lauds Tua Tagovailoa as QB prepares for pivotal fifth season          Bills
                    brass explains how &apos;albatross&apos; contract led to decision to move on from
                    Stefon Diggs          Chiefs coach Andy Reid has message for NFL after wacky schedule
                    for 2024 season'
                  contextId: null
                  rssFeed: https://moxie.foxnews.com/google-publisher/latest.xml
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '80603503'
                errorInfo: Crawl already close.
                result: null
          headers: {}
          x-apifox-name: Crawl already close
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778576-run
      operationId: Turn_on_off_craw_250778576
      x-source-doc: https://docs.tvunetworks.cn/api-250778576.md
  /device/getSourceIdByTypeAndName:
    post:
      summary: Get sourceId based on sourceType and sourceName
      deprecated: false
      description: ''
      tags:
      - Channel API/Event
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - Media
                  - File
                  - Ext
                  x-apifox-enum:
                  - value: Media
                    name: Media
                    description: Media In Drive
                  - value: File
                    name: File
                    description: Json File In Drive
                  - value: Ext
                    name: Ext
                    description: LiveSource In CC
                  examples:
                  - Media
                  description: Source Type; Media/File/Ext
                name:
                  type: string
                  description: SourceName
                  minLength: 1
                  maxLength: 255
                  examples:
                  - 01.mp4
              required:
              - type
              - name
              x-apifox-orders:
              - type
              - name
            example:
              type: Media
              name: 01.mp4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorInfo:
                    type: string
                  result:
                    type: string
                    description: SourceId
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result: 55524c204558544c000011917efddbdf
          headers: {}
          x-apifox-name: Success
      security: []
      x-apifox-folder: Channel API/Event
      x-apifox-status: developing
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778584-run
      operationId: Get_sourceId_based_on_sourceType_and_sourceName_250778584
      x-source-doc: https://docs.tvunetworks.cn/api-250778584.md
  /event/batchAdd:
    post:
      summary: batch add event
      deprecated: false
      description: ''
      tags:
      - Channel API/Event
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                programId:
                  type: string
                  description: Can not be empty. The primary key ID of the program, which is the last
                    32-bit string on the URL after entering the Program
                  examples:
                  - bf126e495c0d47308fda297cf96b59b1
                  maxLength: 32
                eventParams:
                  type: array
                  items:
                    type: object
                    properties:
                      color:
                        type: string
                        description: This is the color displayed on the default UI
                        default: rgb(255, 192, 0)
                      duration:
                        type: number
                      endTime:
                        type: number
                      name:
                        type: string
                        default: fileName
                      offset:
                        type: integer
                        default: 0
                        description: default is 0
                      scheduleType:
                        type: string
                        default: live
                        description: default is 'live'
                      sourceType:
                        type: integer
                        description: 0=media 1=live
                      startTime:
                        type: number
                      title:
                        type: string
                        maxLength: 220
                      tpeerid:
                        type: string
                        description: the selected playback file sourceId
                      ttype:
                        type: string
                        description: ' default is ‘File’'
                      turl:
                        type: string
                      eventSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            segmentId:
                              type: integer
                            segmentOrder:
                              type: integer
                            timingIn:
                              type: number
                            timingOut:
                              type: number
                            sourceId:
                              type: string
                              description: if segmentId=2 can not empty
                            fileType:
                              type: string
                              description: if segmentId=2 default=Video
                            fileName:
                              type: string
                              description: file name
                            eventOperationType:
                              type: string
                              description: if segmentId=2 use 'Underplay clip'
                          x-apifox-orders:
                          - segmentId
                          - segmentOrder
                          - timingIn
                          - timingOut
                          - sourceId
                          - fileType
                          - fileName
                          - eventOperationType
                          required:
                          - segmentId
                          - segmentOrder
                          - timingIn
                          - timingOut
                    x-apifox-orders:
                    - color
                    - duration
                    - endTime
                    - name
                    - offset
                    - scheduleType
                    - sourceType
                    - startTime
                    - title
                    - tpeerid
                    - ttype
                    - turl
                    - eventSegments
                    required:
                    - endTime
                    - startTime
                    - title
                    - tpeerid
                    - ttype
                    - turl
                    - eventSegments
                    - duration
                    - name
                    - sourceType
              x-apifox-orders:
              - programId
              - eventParams
              required:
              - eventParams
              - programId
            example:
              eventParams:
              - color: rgb(255, 192, 0)
                scheduleType: live
                sourceType: 0
                title: youtube-3_Replay_20240924_154023_1104217.json
                name: youtube-3_Replay_20240924_154023_1104217.json
                tpeerid: 55524c204558544c00001192279c96f7
                ttype: File
                turl: https://pp-va-001.s3.amazonaws.com/92583622feae44888081823aa6004a70/RECORDINGS/youtube-3_Replay_20240924_154023_1104217.json
                duration: 1798000
                offset: 0
                startTime: 1728685800000
                endTime: 1728687598000
                eventSegments:
                - segmentId: 1
                  segmentOrder: 0
                  timingIn: 1728685800000
                  timingOut: 1728687598000
              - color: rgb(255, 192, 0)
                scheduleType: live
                sourceType: 0
                title: youtube-3_Replay_20240924_145416_1104213.json
                name: youtube-3_Replay_20240924_145416_1104213.json
                tpeerid: 55524c204558544c00001192279c96f9
                ttype: File
                turl: https://pp-va-001.s3.amazonaws.com/92583622feae44888081823aa6004a70/RECORDINGS/youtube-3_Replay_20240924_145416_1104213.json
                duration: 1799000
                offset: 0
                startTime: 1728687598000
                endTime: 1728689397000
                eventSegments:
                - segmentId: 1
                  segmentOrder: 0
                  timingIn: 1728687598000
                  timingOut: 1728689397000
              - color: rgb(255, 192, 0)
                scheduleType: live
                sourceType: 0
                title: youtube-3_Replay_20240923_141644_1104168.json
                name: youtube-3_Replay_20240923_141644_1104168.json
                tpeerid: 55524c204558544c000011921d8eaf90
                ttype: File
                turl: https://pp-va-001.s3.amazonaws.com/92583622feae44888081823aa6004a70/RECORDINGS/youtube-3_Replay_20240923_141644_1104168.json
                duration: 1770000
                offset: 0
                startTime: 1728689397000
                endTime: 1728691167000
                eventSegments:
                - segmentId: 1
                  segmentOrder: 0
                  timingIn: 1728689397000
                  timingOut: 1728691167000
              programId: e4a1880168584e6f96b1b7ef2eed062f
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apifox-orders: []
              example:
                errorCode: '0x0'
                errorInfo: Success
                result:
                - id: null
                  eventId: 1104593
                  eventUUID: 25a192a0515e45098db9c45d1006e1c5
                  userId: c87aaed7bace46dfaa802d830f9351e7
                  title: youtube-3_Replay_20240924_154023_1104217.json
                  affiliate: null
                  description: null
                  source: '{"peerFullId":"55524c204558544c00001192279c96f7","peerName":"youtube-3_Replay_20240924_154023_1104217.json","type":"file","url":"http://pp-va-001.s3.us-east-1.amazonaws.com/CHANNEL/RECORDING/c87aaed7bace46dfaa802d830f9351e7-e4a1880168584e6f96b1b7ef2eed062f-1104217/59cd4ed8417c4874bed705f09af3704e/1/play.m3u8","secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null}'
                  destination: '{"fullId":"fffffff11000a503","outputFilterId":null,"outputAddress":null,"title":null,"additionalTitle":null,"collectionTitle":null,"seasonNumber":null,"episodeNumber":null,"category":null,"description":null,"csaRating":null,"rating":null,"publicStr":null,"collectionId":null,"sherlockId":null,"oscarId":null,"metadataDate":null,"tags":null,"link":null}'
                  startTime: 1728685800000
                  endTime: 1728687598000
                  status: 0
                  failedReason: null
                  parameters: '{"delay":"0","bitrate":"5000","reporter":null,"switchType":null,"peerFullId":"55524c204558544c00001192279c96f7","peerName":"youtube-3_Replay_20240924_154023_1104217.json","type":"file","url":null,"secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null,"subtitleUrl":null,"audioShufflingList":null}'
                  tpeerid: 55524c204558544c00001192279c96f7
                  tname: youtube-3_Replay_20240924_154023_1104217.json
                  cycleId: null
                  secondaryTpeerid: null
                  secondaryTname: null
                  rpeerid: fffffff11000a503
                  programId: e4a1880168584e6f96b1b7ef2eed062f
                  outputFilterId: null
                  execstatus: 0
                  liveStatus: 0
                  color: rgb(255, 192, 0)
                  failedCase: null
                  scheduleType: LIVE2
                  executeStartTime: null
                  executeEndTime: null
                  scteId: null
                  eventType: 2
                  operationUserId: c87aaed7bace46dfaa802d830f9351e7
                  sourceType: 0
                  secondarySourceType: 0
                  scte: null
                  gridlinkCall: 0
                  createTime: 1728629752692
                  updateTime: 1728629752692
                  offset: 0
                  checkStatus: 1
                  multipleModelType: 0
                  eventModelType: 0
                  loop: false
                  rname: null
                  takeNextId: null
                  name: null
                  clipId: null
                  houseId: you10122024063000damon_test1
                  takeNext: false
                  setType: null
                  record: 0
                  replay: 0
                  email: null
                  eventRecordStatus: null
                  playAdSlate: 2
                  enableMergeCommandOfScte: 0
                  preRoll: 2000
                  copy: 'false'
                  templateId: null
                  pgmEndScte: 0
                  pgmEndScteStatus: null
                  pgmStartScte: 0
                  pgmStartSourceId: null
                  underplayClipId: null
                  highlightEvent: null
                  timeLock: 0
                  thumbnail: null
                  category: null
                  daylightSavingTime: 0
                  holdEventRundownTemplate: 0
                  slateSourceId: null
                  slateDuration: 0
                  stopAdBreak: null
                  trafficUUID: null
                  eventSegmentList:
                  - id: null
                    segmentId: 1
                    eventOperationType: null
                    fileId: null
                    timingIn: 1728685800000
                    timingOut: 1728687598000
                    accumulatedProgramTiming: 0
                    suspend: 0
                    sourceId: null
                    sourceName: null
                    fileName: null
                    fileType: null
                    sourceType: null
                    segmentOrder: 0
                    sonEventId: null
                    blockId: null
                    offset: 0
                    offsetFrom: 0
                    offsetTo: 0
                    holdEventRundown: 0
                    subtitleUrl: null
                    iframeInfoParams: null
                    scteUnderplayTemplates: null
                    iframeToken: null
                    logoRule: 0
                    location: 0
                    locationX: 0
                    locationY: 0
                    singularInfoParams: null
                    iframeParams: null
                    singularParams: null
                    segmentSourceType: 0
                    clockType: 0
                    urlSigned: 0
                    audioId: null
                    audioSonEventInfo: null
                  audioSonEventInfo: null
                  metadataSidecarParam: null
                  autoRecurEvent: false
                  additionalMetadata: null
                  prerollSourceReceiverVoList: null
                  additionalSourceAudio: null
                  ttype: file
                  secondaryTtype: 'null'
                - id: null
                  eventId: 1104594
                  eventUUID: 4c51bf2afade4a27b9e77e01754c8b1d
                  userId: c87aaed7bace46dfaa802d830f9351e7
                  title: youtube-3_Replay_20240924_145416_1104213.json
                  affiliate: null
                  description: null
                  source: '{"peerFullId":"55524c204558544c00001192279c96f9","peerName":"youtube-3_Replay_20240924_145416_1104213.json","type":"file","url":"http://pp-va-001.s3.us-east-1.amazonaws.com/CHANNEL/RECORDING/c87aaed7bace46dfaa802d830f9351e7-e4a1880168584e6f96b1b7ef2eed062f-1104213/204adb543e434794bdd0904d8a7a745d/1/play.m3u8","secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null}'
                  destination: '{"fullId":"fffffff11000a503","outputFilterId":null,"outputAddress":null,"title":null,"additionalTitle":null,"collectionTitle":null,"seasonNumber":null,"episodeNumber":null,"category":null,"description":null,"csaRating":null,"rating":null,"publicStr":null,"collectionId":null,"sherlockId":null,"oscarId":null,"metadataDate":null,"tags":null,"link":null}'
                  startTime: 1728687598000
                  endTime: 1728689397000
                  status: 0
                  failedReason: null
                  parameters: '{"delay":"0","bitrate":"5000","reporter":null,"switchType":null,"peerFullId":"55524c204558544c00001192279c96f9","peerName":"youtube-3_Replay_20240924_145416_1104213.json","type":"file","url":null,"secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null,"subtitleUrl":null,"audioShufflingList":null}'
                  tpeerid: 55524c204558544c00001192279c96f9
                  tname: youtube-3_Replay_20240924_145416_1104213.json
                  cycleId: null
                  secondaryTpeerid: null
                  secondaryTname: null
                  rpeerid: fffffff11000a503
                  programId: e4a1880168584e6f96b1b7ef2eed062f
                  outputFilterId: null
                  execstatus: 0
                  liveStatus: 0
                  color: rgb(255, 192, 0)
                  failedCase: null
                  scheduleType: LIVE2
                  executeStartTime: null
                  executeEndTime: null
                  scteId: null
                  eventType: 2
                  operationUserId: c87aaed7bace46dfaa802d830f9351e7
                  sourceType: 0
                  secondarySourceType: 0
                  scte: null
                  gridlinkCall: 0
                  createTime: 1728629754324
                  updateTime: 1728629754324
                  offset: 0
                  checkStatus: 1
                  multipleModelType: 0
                  eventModelType: 0
                  loop: false
                  rname: null
                  takeNextId: null
                  name: null
                  clipId: null
                  houseId: you10122024065958damon_test1
                  takeNext: false
                  setType: null
                  record: 0
                  replay: 0
                  email: null
                  eventRecordStatus: null
                  playAdSlate: 2
                  enableMergeCommandOfScte: 0
                  preRoll: 2000
                  copy: 'false'
                  templateId: null
                  pgmEndScte: 0
                  pgmEndScteStatus: null
                  pgmStartScte: 0
                  pgmStartSourceId: null
                  underplayClipId: null
                  highlightEvent: null
                  timeLock: 0
                  thumbnail: null
                  category: null
                  daylightSavingTime: 0
                  holdEventRundownTemplate: 0
                  slateSourceId: null
                  slateDuration: 0
                  stopAdBreak: null
                  trafficUUID: null
                  eventSegmentList:
                  - id: null
                    segmentId: 1
                    eventOperationType: null
                    fileId: null
                    timingIn: 1728687598000
                    timingOut: 1728689397000
                    accumulatedProgramTiming: 0
                    suspend: 0
                    sourceId: null
                    sourceName: null
                    fileName: null
                    fileType: null
                    sourceType: null
                    segmentOrder: 0
                    sonEventId: null
                    blockId: null
                    offset: 0
                    offsetFrom: 0
                    offsetTo: 0
                    holdEventRundown: 0
                    subtitleUrl: null
                    iframeInfoParams: null
                    scteUnderplayTemplates: null
                    iframeToken: null
                    logoRule: 0
                    location: 0
                    locationX: 0
                    locationY: 0
                    singularInfoParams: null
                    iframeParams: null
                    singularParams: null
                    segmentSourceType: 0
                    clockType: 0
                    urlSigned: 0
                    audioId: null
                    audioSonEventInfo: null
                  audioSonEventInfo: null
                  metadataSidecarParam: null
                  autoRecurEvent: false
                  additionalMetadata: null
                  prerollSourceReceiverVoList: null
                  additionalSourceAudio: null
                  ttype: file
                  secondaryTtype: 'null'
                - id: null
                  eventId: 1104595
                  eventUUID: 4a8c7014693c433c9b7cddd5a04bc2ce
                  userId: c87aaed7bace46dfaa802d830f9351e7
                  title: youtube-3_Replay_20240923_141644_1104168.json
                  affiliate: null
                  description: null
                  source: '{"peerFullId":"55524c204558544c000011921d8eaf90","peerName":"youtube-3_Replay_20240923_141644_1104168.json","type":"file","url":"http://pp-va-001.s3.us-east-1.amazonaws.com/CHANNEL/RECORDING/c87aaed7bace46dfaa802d830f9351e7-e4a1880168584e6f96b1b7ef2eed062f-1104168/30993420868c4f51bd4fe5a85fc83404/1/play.m3u8","secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null}'
                  destination: '{"fullId":"fffffff11000a503","outputFilterId":null,"outputAddress":null,"title":null,"additionalTitle":null,"collectionTitle":null,"seasonNumber":null,"episodeNumber":null,"category":null,"description":null,"csaRating":null,"rating":null,"publicStr":null,"collectionId":null,"sherlockId":null,"oscarId":null,"metadataDate":null,"tags":null,"link":null}'
                  startTime: 1728689397000
                  endTime: 1728691167000
                  status: 0
                  failedReason: null
                  parameters: '{"delay":"0","bitrate":"5000","reporter":null,"switchType":null,"peerFullId":"55524c204558544c000011921d8eaf90","peerName":"youtube-3_Replay_20240923_141644_1104168.json","type":"file","url":null,"secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null,"subtitleUrl":null,"audioShufflingList":null}'
                  tpeerid: 55524c204558544c000011921d8eaf90
                  tname: youtube-3_Replay_20240923_141644_1104168.json
                  cycleId: null
                  secondaryTpeerid: null
                  secondaryTname: null
                  rpeerid: fffffff11000a503
                  programId: e4a1880168584e6f96b1b7ef2eed062f
                  outputFilterId: null
                  execstatus: 0
                  liveStatus: 0
                  color: rgb(255, 192, 0)
                  failedCase: null
                  scheduleType: LIVE2
                  executeStartTime: null
                  executeEndTime: null
                  scteId: null
                  eventType: 2
                  operationUserId: c87aaed7bace46dfaa802d830f9351e7
                  sourceType: 0
                  secondarySourceType: 0
                  scte: null
                  gridlinkCall: 0
                  createTime: 1728629770160
                  updateTime: 1728629770160
                  offset: 0
                  checkStatus: 1
                  multipleModelType: 0
                  eventModelType: 0
                  loop: false
                  rname: null
                  takeNextId: null
                  name: null
                  clipId: null
                  houseId: you10122024072957damon_test1
                  takeNext: false
                  setType: null
                  record: 0
                  replay: 0
                  email: null
                  eventRecordStatus: null
                  playAdSlate: 2
                  enableMergeCommandOfScte: 0
                  preRoll: 2000
                  copy: 'false'
                  templateId: null
                  pgmEndScte: 0
                  pgmEndScteStatus: null
                  pgmStartScte: 0
                  pgmStartSourceId: null
                  underplayClipId: null
                  highlightEvent: null
                  timeLock: 0
                  thumbnail: null
                  category: null
                  daylightSavingTime: 0
                  holdEventRundownTemplate: 0
                  slateSourceId: null
                  slateDuration: 0
                  stopAdBreak: null
                  trafficUUID: null
                  eventSegmentList:
                  - id: null
                    segmentId: 1
                    eventOperationType: null
                    fileId: null
                    timingIn: 1728689397000
                    timingOut: 1728691167000
                    accumulatedProgramTiming: 0
                    suspend: 0
                    sourceId: null
                    sourceName: null
                    fileName: null
                    fileType: null
                    sourceType: null
                    segmentOrder: 0
                    sonEventId: null
                    blockId: null
                    offset: 0
                    offsetFrom: 0
                    offsetTo: 0
                    holdEventRundown: 0
                    subtitleUrl: null
                    iframeInfoParams: null
                    scteUnderplayTemplates: null
                    iframeToken: null
                    logoRule: 0
                    location: 0
                    locationX: 0
                    locationY: 0
                    singularInfoParams: null
                    iframeParams: null
                    singularParams: null
                    segmentSourceType: 0
                    clockType: 0
                    urlSigned: 0
                    audioId: null
                    audioSonEventInfo: null
                  audioSonEventInfo: null
                  metadataSidecarParam: null
                  autoRecurEvent: false
                  additionalMetadata: null
                  prerollSourceReceiverVoList: null
                  additionalSourceAudio: null
                  ttype: file
                  secondaryTtype: 'null'
          headers: {}
          x-apifox-name: Success
      security: []
      x-apifox-folder: Channel API/Event
      x-apifox-status: developing
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778583-run
      operationId: batch_add_event_250778583
      x-source-doc: https://docs.tvunetworks.cn/api-250778583.md
  /event/emergency/switch:
    post:
      summary: Emergency Switch
      deprecated: false
      description: Page is triggered by clicking the button "Emergency Switch"
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                programId:
                  type: string
                  description: channel id
              required:
              - programId
              x-apifox-orders:
              - programId
            example:
              programId: 759aa623c7c04b5d913d138a712758ab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: object
                    properties:
                      id:
                        type: 'null'
                      eventId:
                        type: integer
                      eventUUID:
                        type: string
                      userId:
                        type: string
                      title:
                        type: string
                      affiliate:
                        type: 'null'
                      description:
                        type: string
                      source:
                        type: string
                      destination:
                        type: 'null'
                      startTime:
                        type: integer
                      endTime:
                        type: integer
                      status:
                        type: 'null'
                      failedReason:
                        type: 'null'
                      parameters:
                        type: string
                      tpeerid:
                        type: string
                      tname:
                        type: 'null'
                      cycleId:
                        type: 'null'
                      secondaryTpeerid:
                        type: 'null'
                      secondaryTname:
                        type: 'null'
                      rpeerid:
                        type: string
                      programId:
                        type: string
                      outputFilterId:
                        type: 'null'
                      execstatus:
                        type: 'null'
                      liveStatus:
                        type: integer
                      color:
                        type: 'null'
                      failedCase:
                        type: 'null'
                      scheduleType:
                        type: string
                      executeStartTime:
                        type: 'null'
                      executeEndTime:
                        type: 'null'
                      scteId:
                        type: integer
                      eventType:
                        type: integer
                      operationUserId:
                        type: string
                      sourceType:
                        type: integer
                      secondarySourceType:
                        type: 'null'
                      scte:
                        type: 'null'
                      gridlinkCall:
                        type: integer
                      createTime:
                        type: integer
                      updateTime:
                        type: integer
                      offset:
                        type: integer
                      checkStatus:
                        type: integer
                      multipleModelType:
                        type: 'null'
                      eventModelType:
                        type: 'null'
                      loop:
                        type: 'null'
                      rname:
                        type: 'null'
                      takeNextId:
                        type: 'null'
                      name:
                        type: 'null'
                      clipId:
                        type: 'null'
                      houseId:
                        type: 'null'
                      takeNext:
                        type: boolean
                      setType:
                        type: 'null'
                      record:
                        type: integer
                      replay:
                        type: integer
                      email:
                        type: 'null'
                      eventRecordStatus:
                        type: 'null'
                      playAdSlate:
                        type: integer
                      enableMergeCommandOfScte:
                        type: integer
                      preRoll:
                        type: 'null'
                      copy:
                        type: string
                      templateId:
                        type: 'null'
                      pgmEndScte:
                        type: 'null'
                      pgmEndScteStatus:
                        type: 'null'
                      pgmStartScte:
                        type: 'null'
                      pgmStartSourceId:
                        type: 'null'
                      underplayClipId:
                        type: 'null'
                      highlightEvent:
                        type: 'null'
                      timeLock:
                        type: 'null'
                      thumbnail:
                        type: 'null'
                      category:
                        type: 'null'
                      daylightSavingTime:
                        type: 'null'
                      holdEventRundownTemplate:
                        type: 'null'
                      slateSourceId:
                        type: 'null'
                      slateDuration:
                        type: integer
                      stopAdBreak:
                        type: 'null'
                      trafficUUID:
                        type: 'null'
                      eventSegmentList:
                        type: 'null'
                      audioSonEventInfo:
                        type: 'null'
                      metadataSidecarParam:
                        type: 'null'
                      secondaryTtype:
                        type: string
                      ttype:
                        type: string
                    required:
                    - id
                    - eventId
                    - eventUUID
                    - userId
                    - title
                    - affiliate
                    - description
                    - source
                    - destination
                    - startTime
                    - endTime
                    - status
                    - failedReason
                    - parameters
                    - tpeerid
                    - tname
                    - cycleId
                    - secondaryTpeerid
                    - secondaryTname
                    - rpeerid
                    - programId
                    - outputFilterId
                    - execstatus
                    - liveStatus
                    - color
                    - failedCase
                    - scheduleType
                    - executeStartTime
                    - executeEndTime
                    - scteId
                    - eventType
                    - operationUserId
                    - sourceType
                    - secondarySourceType
                    - scte
                    - gridlinkCall
                    - createTime
                    - updateTime
                    - offset
                    - checkStatus
                    - multipleModelType
                    - eventModelType
                    - loop
                    - rname
                    - takeNextId
                    - name
                    - clipId
                    - houseId
                    - takeNext
                    - setType
                    - record
                    - replay
                    - email
                    - eventRecordStatus
                    - playAdSlate
                    - enableMergeCommandOfScte
                    - preRoll
                    - copy
                    - templateId
                    - pgmEndScte
                    - pgmEndScteStatus
                    - pgmStartScte
                    - pgmStartSourceId
                    - underplayClipId
                    - highlightEvent
                    - timeLock
                    - thumbnail
                    - category
                    - daylightSavingTime
                    - holdEventRundownTemplate
                    - slateSourceId
                    - slateDuration
                    - stopAdBreak
                    - trafficUUID
                    - eventSegmentList
                    - audioSonEventInfo
                    - metadataSidecarParam
                    - secondaryTtype
                    - ttype
                    x-apifox-orders:
                    - id
                    - eventId
                    - eventUUID
                    - userId
                    - title
                    - affiliate
                    - description
                    - source
                    - destination
                    - startTime
                    - endTime
                    - status
                    - failedReason
                    - parameters
                    - tpeerid
                    - tname
                    - cycleId
                    - secondaryTpeerid
                    - secondaryTname
                    - rpeerid
                    - programId
                    - outputFilterId
                    - execstatus
                    - liveStatus
                    - color
                    - failedCase
                    - scheduleType
                    - executeStartTime
                    - executeEndTime
                    - scteId
                    - eventType
                    - operationUserId
                    - sourceType
                    - secondarySourceType
                    - scte
                    - gridlinkCall
                    - createTime
                    - updateTime
                    - offset
                    - checkStatus
                    - multipleModelType
                    - eventModelType
                    - loop
                    - rname
                    - takeNextId
                    - name
                    - clipId
                    - houseId
                    - takeNext
                    - setType
                    - record
                    - replay
                    - email
                    - eventRecordStatus
                    - playAdSlate
                    - enableMergeCommandOfScte
                    - preRoll
                    - copy
                    - templateId
                    - pgmEndScte
                    - pgmEndScteStatus
                    - pgmStartScte
                    - pgmStartSourceId
                    - underplayClipId
                    - highlightEvent
                    - timeLock
                    - thumbnail
                    - category
                    - daylightSavingTime
                    - holdEventRundownTemplate
                    - slateSourceId
                    - slateDuration
                    - stopAdBreak
                    - trafficUUID
                    - eventSegmentList
                    - audioSonEventInfo
                    - metadataSidecarParam
                    - secondaryTtype
                    - ttype
                    description: Emergency details
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result:
                  id: null
                  eventId: 2583518
                  eventUUID: b64d147164b94cce86d15baacea5793f
                  userId: bc4d81f50e0442068d83a9507ef63cc2
                  title: 22_Replay_20231215_035334_1980087.json
                  affiliate: null
                  description: Switch Emergency Event
                  source: '{"peerFullId":null,"peerName":null,"type":null,"url":null,"secondaryPeerFullId":null,"secondaryPeerName":null,"secondaryType":null,"secondaryUrl":null}'
                  destination: null
                  startTime: 1716964029589
                  endTime: 1716964062188
                  status: null
                  failedReason: null
                  parameters: '{"peerFullId":"55524c204558544c0000118c6caf107d","peerName":"22_Replay_20231215_035334_1980087.json","type":"Ext","stopCurrent":false,"workMode":"Start","filterFlags":1,"loop":false}'
                  tpeerid: 55524c204558544c0000118c6caf107d
                  tname: null
                  cycleId: null
                  secondaryTpeerid: null
                  secondaryTname: null
                  rpeerid: fffffff110219902
                  programId: 759aa623c7c04b5d913d138a712758ab
                  outputFilterId: null
                  execstatus: null
                  liveStatus: 1
                  color: null
                  failedCase: null
                  scheduleType: EMERGENCY
                  executeStartTime: null
                  executeEndTime: null
                  scteId: -1
                  eventType: 4
                  operationUserId: bc4d81f50e0442068d83a9507ef63cc2
                  sourceType: 0
                  secondarySourceType: null
                  scte: null
                  gridlinkCall: 0
                  createTime: 1716964029591
                  updateTime: 1716964029591
                  offset: 0
                  checkStatus: 0
                  multipleModelType: null
                  eventModelType: null
                  loop: null
                  rname: null
                  takeNextId: null
                  name: null
                  clipId: null
                  houseId: null
                  takeNext: false
                  setType: null
                  record: 0
                  replay: 0
                  email: null
                  eventRecordStatus: null
                  playAdSlate: 0
                  enableMergeCommandOfScte: 0
                  preRoll: null
                  copy: 'false'
                  templateId: null
                  pgmEndScte: null
                  pgmEndScteStatus: null
                  pgmStartScte: null
                  pgmStartSourceId: null
                  underplayClipId: null
                  highlightEvent: null
                  timeLock: null
                  thumbnail: null
                  category: null
                  daylightSavingTime: null
                  holdEventRundownTemplate: null
                  slateSourceId: null
                  slateDuration: 0
                  stopAdBreak: null
                  trafficUUID: null
                  eventSegmentList: null
                  audioSonEventInfo: null
                  metadataSidecarParam: null
                  secondaryTtype: 'null'
                  ttype: 'null'
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '81004101'
                errorInfo: Emergency file haven't been set now.
                result: null
          headers: {}
          x-apifox-name: Emergency file haven't been setfile
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778575-run
      operationId: Emergency_Switch_250778575
      x-source-doc: https://docs.tvunetworks.cn/api-250778575.md
  /event/stopBreakSource:
    post:
      summary: Take PlayList
      deprecated: false
      description: 'Page is triggered by clicking the button "Take PlayList"


        '
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeout:
                  type: integer
                  description: Timeout period
                programId:
                  type: string
                  description: channel id
              required:
              - timeout
              - programId
              x-apifox-orders:
              - timeout
              - programId
            example:
              timeout: 120000
              programId: 759aa623c7c04b5d913d138a712758ab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result: null
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorInfo:
                    type: string
                  result:
                    type: 'null'
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '80603201'
                errorInfo: User not exist.
                result: null
          headers: {}
          x-apifox-name: No permission to access the specified channel
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: developing
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778579-run
      operationId: Take_PlayList_250778579
      x-source-doc: https://docs.tvunetworks.cn/api-250778579.md
  /event/takeBreakSource:
    post:
      summary: Take Breaking Source
      deprecated: false
      description: Page is triggered by clicking the button "Take Breaking Source"
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceId:
                  type: string
                  description: The selected live source id
                programId:
                  type: string
                  description: channel id
              required:
              - sourceId
              - programId
              x-apifox-orders:
              - sourceId
              - programId
            example:
              sourceId: 55524c204558544c0000018c6c75129b
              programId: 759aa623c7c04b5d913d138a712758ab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: object
                    properties:
                      id:
                        type: 'null'
                        description: Unique identification of the event
                      eventId:
                        type: integer
                        description: Unique identification of the event
                      eventUUID:
                        type: string
                        description: Unique identification of the event
                      userId:
                        type: string
                        description: ' Unique identification of the user'
                      title:
                        type: string
                        description: Event title
                      affiliate:
                        type: 'null'
                      description:
                        type: string
                        description: Description of the event
                      source:
                        type: 'null'
                        description: The specific source of the incident
                      destination:
                        type: 'null'
                        description: Event metadata information
                      startTime:
                        type: integer
                        description: Start time of the event
                      endTime:
                        type: integer
                        description: End time of the event
                      status:
                        type: 'null'
                        description: State of the event
                      failedReason:
                        type: 'null'
                        description: Failure cause of the event
                      parameters:
                        type: string
                        description: Event parameter
                      tpeerid:
                        type: string
                      tname:
                        type: 'null'
                      cycleId:
                        type: 'null'
                      secondaryTpeerid:
                        type: 'null'
                      secondaryTname:
                        type: 'null'
                      rpeerid:
                        type: string
                      programId:
                        type: string
                        description: channel id
                      outputFilterId:
                        type: 'null'
                      execstatus:
                        type: 'null'
                      liveStatus:
                        type: integer
                      color:
                        type: 'null'
                      failedCase:
                        type: 'null'
                      scheduleType:
                        type: string
                      executeStartTime:
                        type: 'null'
                      executeEndTime:
                        type: 'null'
                      scteId:
                        type: integer
                      eventType:
                        type: integer
                      operationUserId:
                        type: string
                      sourceType:
                        type: integer
                      secondarySourceType:
                        type: 'null'
                      scte:
                        type: 'null'
                      gridlinkCall:
                        type: integer
                      createTime:
                        type: integer
                        description: create Time
                      updateTime:
                        type: integer
                        description: update Time
                      offset:
                        type: integer
                        description: offset
                      checkStatus:
                        type: integer
                      multipleModelType:
                        type: 'null'
                      eventModelType:
                        type: 'null'
                      loop:
                        type: 'null'
                      rname:
                        type: 'null'
                      takeNextId:
                        type: 'null'
                      name:
                        type: 'null'
                      clipId:
                        type: 'null'
                      houseId:
                        type: string
                      takeNext:
                        type: boolean
                      setType:
                        type: 'null'
                      record:
                        type: integer
                      replay:
                        type: integer
                      email:
                        type: 'null'
                      eventRecordStatus:
                        type: 'null'
                      playAdSlate:
                        type: integer
                      enableMergeCommandOfScte:
                        type: integer
                      preRoll:
                        type: 'null'
                      copy:
                        type: string
                      templateId:
                        type: 'null'
                      pgmEndScte:
                        type: 'null'
                      pgmEndScteStatus:
                        type: 'null'
                      pgmStartScte:
                        type: 'null'
                      pgmStartSourceId:
                        type: 'null'
                      underplayClipId:
                        type: 'null'
                      highlightEvent:
                        type: 'null'
                      timeLock:
                        type: 'null'
                      thumbnail:
                        type: 'null'
                      category:
                        type: 'null'
                      daylightSavingTime:
                        type: 'null'
                      holdEventRundownTemplate:
                        type: 'null'
                      slateSourceId:
                        type: 'null'
                      slateDuration:
                        type: integer
                      stopAdBreak:
                        type: 'null'
                      trafficUUID:
                        type: 'null'
                      eventSegmentList:
                        type: 'null'
                      audioSonEventInfo:
                        type: 'null'
                      metadataSidecarParam:
                        type: 'null'
                      secondaryTtype:
                        type: string
                      ttype:
                        type: string
                    required:
                    - id
                    - eventId
                    - eventUUID
                    - userId
                    - title
                    - affiliate
                    - description
                    - source
                    - destination
                    - startTime
                    - endTime
                    - status
                    - failedReason
                    - parameters
                    - tpeerid
                    - tname
                    - cycleId
                    - secondaryTpeerid
                    - secondaryTname
                    - rpeerid
                    - programId
                    - outputFilterId
                    - execstatus
                    - liveStatus
                    - color
                    - failedCase
                    - scheduleType
                    - executeStartTime
                    - executeEndTime
                    - scteId
                    - eventType
                    - operationUserId
                    - sourceType
                    - secondarySourceType
                    - scte
                    - gridlinkCall
                    - createTime
                    - updateTime
                    - offset
                    - checkStatus
                    - multipleModelType
                    - eventModelType
                    - loop
                    - rname
                    - takeNextId
                    - name
                    - clipId
                    - houseId
                    - takeNext
                    - setType
                    - record
                    - replay
                    - email
                    - eventRecordStatus
                    - playAdSlate
                    - enableMergeCommandOfScte
                    - preRoll
                    - copy
                    - templateId
                    - pgmEndScte
                    - pgmEndScteStatus
                    - pgmStartScte
                    - pgmStartSourceId
                    - underplayClipId
                    - highlightEvent
                    - timeLock
                    - thumbnail
                    - category
                    - daylightSavingTime
                    - holdEventRundownTemplate
                    - slateSourceId
                    - slateDuration
                    - stopAdBreak
                    - trafficUUID
                    - eventSegmentList
                    - audioSonEventInfo
                    - metadataSidecarParam
                    - secondaryTtype
                    - ttype
                    x-apifox-orders:
                    - id
                    - eventId
                    - eventUUID
                    - userId
                    - title
                    - affiliate
                    - description
                    - source
                    - destination
                    - startTime
                    - endTime
                    - status
                    - failedReason
                    - parameters
                    - tpeerid
                    - tname
                    - cycleId
                    - secondaryTpeerid
                    - secondaryTname
                    - rpeerid
                    - programId
                    - outputFilterId
                    - execstatus
                    - liveStatus
                    - color
                    - failedCase
                    - scheduleType
                    - executeStartTime
                    - executeEndTime
                    - scteId
                    - eventType
                    - operationUserId
                    - sourceType
                    - secondarySourceType
                    - scte
                    - gridlinkCall
                    - createTime
                    - updateTime
                    - offset
                    - checkStatus
                    - multipleModelType
                    - eventModelType
                    - loop
                    - rname
                    - takeNextId
                    - name
                    - clipId
                    - houseId
                    - takeNext
                    - setType
                    - record
                    - replay
                    - email
                    - eventRecordStatus
                    - playAdSlate
                    - enableMergeCommandOfScte
                    - preRoll
                    - copy
                    - templateId
                    - pgmEndScte
                    - pgmEndScteStatus
                    - pgmStartScte
                    - pgmStartSourceId
                    - underplayClipId
                    - highlightEvent
                    - timeLock
                    - thumbnail
                    - category
                    - daylightSavingTime
                    - holdEventRundownTemplate
                    - slateSourceId
                    - slateDuration
                    - stopAdBreak
                    - trafficUUID
                    - eventSegmentList
                    - audioSonEventInfo
                    - metadataSidecarParam
                    - secondaryTtype
                    - ttype
                    description: Details about the event to be played
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result:
                  id: null
                  eventId: 2583507
                  eventUUID: b85d51c6f81f482cb4f3fc28fcf0cbb7
                  userId: bc4d81f50e0442068d83a9507ef63cc2
                  title: '22'
                  affiliate: null
                  description: Take Break Source Event
                  source: null
                  destination: null
                  startTime: 1716963027988
                  endTime: 2545535254000
                  status: null
                  failedReason: null
                  parameters: '{"peerFullId":"55524c204558544c0000018c6c75129b","peerName":"22","type":"Ext","stopCurrent":false,"workMode":"Start","filterFlags":1,"loop":false}'
                  tpeerid: 55524c204558544c0000018c6c75129b
                  tname: null
                  cycleId: null
                  secondaryTpeerid: null
                  secondaryTname: null
                  rpeerid: fffffff110219902
                  programId: 759aa623c7c04b5d913d138a712758ab
                  outputFilterId: null
                  execstatus: null
                  liveStatus: 1
                  color: null
                  failedCase: null
                  scheduleType: EMERGENCY
                  executeStartTime: null
                  executeEndTime: null
                  scteId: -1
                  eventType: 3
                  operationUserId: bc4d81f50e0442068d83a9507ef63cc2
                  sourceType: 1
                  secondarySourceType: null
                  scte: null
                  gridlinkCall: 0
                  createTime: 1716963027991
                  updateTime: 1716963027991
                  offset: 0
                  checkStatus: 0
                  multipleModelType: null
                  eventModelType: null
                  loop: null
                  rname: null
                  takeNextId: null
                  name: null
                  clipId: null
                  houseId: 2205292024021027nick_test
                  takeNext: false
                  setType: null
                  record: 1
                  replay: 0
                  email: null
                  eventRecordStatus: null
                  playAdSlate: 0
                  enableMergeCommandOfScte: 0
                  preRoll: null
                  copy: 'false'
                  templateId: null
                  pgmEndScte: null
                  pgmEndScteStatus: null
                  pgmStartScte: null
                  pgmStartSourceId: null
                  underplayClipId: null
                  highlightEvent: null
                  timeLock: null
                  thumbnail: null
                  category: null
                  daylightSavingTime: null
                  holdEventRundownTemplate: null
                  slateSourceId: null
                  slateDuration: 0
                  stopAdBreak: null
                  trafficUUID: null
                  eventSegmentList: null
                  audioSonEventInfo: null
                  metadataSidecarParam: null
                  secondaryTtype: ''
                  ttype: ''
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
                description: When the login user does not have the access permission to the specified
                  channel, an exception message is returned
              example:
                errorCode: '80603201'
                errorInfo: User not exist.
                result: null
          headers: {}
          x-apifox-name: No permission to access the specified channel
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778573-run
      operationId: Take_Breaking_Source_250778573
      x-source-doc: https://docs.tvunetworks.cn/api-250778573.md
  /event/takeNextEvent:
    post:
      summary: Take Next
      deprecated: false
      description: Page is triggered by clicking the button "Take Next"
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                programId:
                  type: string
                  description: channel id
              required:
              - programId
              x-apifox-orders:
              - programId
            example:
              programId: 759aa623c7c04b5d913d138a712758ab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              examples:
                '1':
                  summary: Success
                  value:
                    errorCode: '0x0'
                    errorInfo: Success
                    result: null
                '3':
                  summary: Success
                  value:
                    errorCode: '0x0'
                    errorInfo: Success
                    result: null
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '80603702'
                errorInfo: Program is not exist!
                result: null
          headers: {}
          x-apifox-name: Program is not exist!
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778574-run
      operationId: Take_Next_250778574
      x-source-doc: https://docs.tvunetworks.cn/api-250778574.md
  /logo/setLogo:
    post:
      summary: Turn on/off logo
      deprecated: false
      description: Turn on/off logo
      tags:
      - Channel API
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                setOn:
                  type: integer
                  description: '1: open crawl 0: close crawl'
                programId:
                  type: string
                  description: channel id
              required:
              - setOn
              - programId
              x-apifox-orders:
              - setOn
              - programId
            example:
              setOn: 0
              programId: 759aa623c7c04b5d913d138a712758ab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorInfo:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      deleteFlag:
                        type: integer
                      createTime:
                        type: integer
                      updateTime:
                        type: integer
                      sceneId:
                        type: string
                      userId:
                        type: string
                      operationUserId:
                        type: string
                      setOn:
                        type: integer
                      secondarySetOn:
                        type: integer
                      programId:
                        type: string
                      logoId:
                        type: string
                    required:
                    - id
                    - deleteFlag
                    - createTime
                    - updateTime
                    - sceneId
                    - userId
                    - operationUserId
                    - setOn
                    - secondarySetOn
                    - programId
                    - logoId
                    x-apifox-orders:
                    - id
                    - deleteFlag
                    - createTime
                    - updateTime
                    - sceneId
                    - userId
                    - operationUserId
                    - setOn
                    - secondarySetOn
                    - programId
                    - logoId
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '0x0'
                errorInfo: Success
                result:
                  id: b899e41ae1ae41288a14f9130e90483a
                  deleteFlag: 0
                  createTime: 1715076625398
                  updateTime: 1716965306719
                  sceneId: '17121201706181'
                  userId: bc4d81f50e0442068d83a9507ef63cc2
                  operationUserId: bc4d81f50e0442068d83a9507ef63cc2
                  setOn: 0
                  secondarySetOn: 0
                  programId: 759aa623c7c04b5d913d138a712758ab
                  logoId: d81502a5e6bf4bd19bd1be308fbfba28
          headers: {}
          x-apifox-name: OK
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    description: 200 means normal, and other numbers mean abnormal
                  errorInfo:
                    type: string
                    description: In normal cases, success is returned. In abnormal cases, specific exception
                      information is returned to the front-end
                  result:
                    type: 'null'
                    description: empty
                required:
                - errorCode
                - errorInfo
                - result
                x-apifox-orders:
                - errorCode
                - errorInfo
                - result
              example:
                errorCode: '80602716'
                errorInfo: Logo already close.
                result: null
          headers: {}
          x-apifox-name: Logo already close.
      security: []
      x-apifox-folder: Channel API
      x-apifox-status: developing
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778577-run
      operationId: Turn_on_off_logo_250778577
      x-source-doc: https://docs.tvunetworks.cn/api-250778577.md
  /openapi/playout/3.0/operateManualSCTE:
    post:
      summary: Adding ManualSCTE via API
      deprecated: false
      description: ''
      tags:
      - Channel API/SCTE
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  programId:
                    type: string
                    description: Channel's primary key id
                  commandType:
                    type: integer
                    description: Types of Scte
                    enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    x-apifox-enum:
                    - value: 1
                      name: SpliceInsertScte
                      description: ''
                    - value: 2
                      name: TimeSignal Manual Model
                      description: ''
                    - value: 3
                      name: TimeSignal Auto Model
                      description: ''
                    - value: 4
                      name: TimeSignal Free Model
                      description: ''
                  startFlag:
                    type: boolean
                    description: 'Scte Start or stop; Required when commandType=2; true: Scte Start,false:
                      Scte Stop'
                  duration:
                    type: integer
                    description: 'SCTE duration, required when commandType=1 or commandType=3, unit: seconds'
                  signalType:
                    type: integer
                    enum:
                    - 2
                    - 3
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 16
                    - 17
                    - 32
                    - 33
                    - 34
                    - 35
                    - 48
                    - 49
                    - 52
                    - 53
                    - 54
                    - 55
                    x-apifox-enum:
                    - value: 2
                      name: (0x30)_Manually stop
                      description: ''
                    - value: 3
                      name: (0x30)_Auto stop
                      description: ''
                    - value: 5
                      name: (0x22)_Auto stop
                      description: ''
                    - value: 6
                      name: (0x34)_Auto stop
                      description: ''
                    - value: 7
                      name: (0x22)_Manually stop
                      description: ''
                    - value: 8
                      name: (0x34)_Manually stop
                      description: ''
                    - value: 9
                      name: Time signal(0x22 0x30 0x34)multi manual stop
                      description: ''
                    - value: 10
                      name: Time signal(0x22 0x30 0x34)multi auto stop
                      description: ''
                    - value: 16
                      name: (0x10) Program Start
                      description: ''
                    - value: 17
                      name: (0x11) Program End
                      description: ''
                    - value: 32
                      name: (0x20) Chapter Start
                      description: ''
                    - value: 33
                      name: (0x21) Chapter End
                      description: ''
                    - value: 34
                      name: (0x22) Break Start
                      description: ''
                    - value: 35
                      name: (0x23) Break End
                      description: ''
                    - value: 48
                      name: (0x30) Provider Ad Start
                      description: ''
                    - value: 49
                      name: (0x31) Provider Ad End
                      description: ''
                    - value: 52
                      name: (0x34) Provider Placement Opportunity Start
                      description: ''
                    - value: 53
                      name: (0x35) Provider Placement Opportunity End
                      description: ''
                    - value: 54
                      name: (0x36) Distributor Placement Opportunity Start
                      description: ''
                    - value: 55
                      name: (0x37) Distributor Placement Opportunity End
                      description: ''
                    description: The specific type of TimeSignalFree, which must be passed when commandType=4
                  adSlateId:
                    type: string
                    description: SourceId of the Underplay played when executing SCTE
                x-apifox-orders:
                - programId
                - commandType
                - startFlag
                - duration
[...]
