openapi: 3.2.0
info:
  title: TVU Networks — MediaHub MediaHub API/setting-api API
  description: MediaHub API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://mediahub.tvunetworks.com
  description: Apifox server "MediaHub"
tags:
- name: MediaHub API/setting-api
paths:
  /mediahub/api/v2/setting/groupAttr:
    post:
      summary: setGroupAttr
      deprecated: false
      description: set group attribute
      operationId: setGroupAttr
      tags:
      - MediaHub API/setting-api
      parameters:
      - name: groupId
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: value
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseResult'
          headers: {}
          x-apifox-name: OK
      security: []
      x-apifox-folder: MediaHub API/setting-api
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-243498628-run
      x-source-doc: https://docs.tvunetworks.cn/api-243498628.md
    get:
      summary: getGroupAttr
      deprecated: false
      description: get group attribute
      operationId: getGroupAttr
      tags:
      - MediaHub API/setting-api
      parameters:
      - name: groupId
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseResult'
          headers: {}
          x-apifox-name: OK
      security: []
      x-apifox-folder: MediaHub API/setting-api
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-243498629-run
      x-source-doc: https://docs.tvunetworks.cn/api-243498629.md
  /mediahub/api/v2/setting/support/keys:
    get:
      summary: getSupportKeys
      deprecated: false
      description: get support keys
      operationId: getSupportKeys
      tags:
      - MediaHub API/setting-api
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseResult'
          headers: {}
          x-apifox-name: OK
      security: []
      x-apifox-folder: MediaHub API/setting-api
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-243498630-run
      x-source-doc: https://docs.tvunetworks.cn/api-243498630.md
components:
  schemas:
    ResponseResult:
      type: object
      properties:
        errorCode:
          type: string
          examples:
          - '0x0'
        errorInfo:
          type: string
          examples:
          - success
        result:
          type: object
          x-apifox-orders: []
          properties: {}
          x-apifox-ignore-properties: []
        async:
          type: boolean
        errorBody:
          type: object
          x-apifox-orders: []
          properties: {}
          x-apifox-ignore-properties: []
      x-apifox-orders:
      - errorCode
      - errorInfo
      - result
      - async
      - errorBody
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
