openapi: 3.2.0
info:
  title: TVU Networks — Search Search API/search/recording API
  description: Search API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
- url: https://search.tvunetworks.com
  description: Apifox server "TVUSearch"
tags:
- name: Search API/search/recording
paths:
  /api/search/v1/i/getrecordinginfoV2:
    post:
      summary: Retrieve recording info array by task ID
      deprecated: false
      description: Returns an array of recording information for the specified task ID. This v2 endpoint returns an ordered array rather than a single object.
      tags:
      - Search API/search/recording
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.RecordingInfoQReq'
      responses:
        '200':
          description: 'Successful response; check code field for logical results: 0=success, 1001=invalid request, 1002=invalid session, 1404=access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetRecordingInfoV2Resp'
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/recording
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959100-run
      operationId: Retrieve_recording_info_array_by_task_ID_468959100
      x-source-doc: https://docs.tvunetworks.cn/api-468959100.md
  /api/search/v2/getInterval:
    post:
      summary: Get recording intervals by path
      deprecated: false
      description: Retrieve recording interval information for one or more file paths.
      tags:
      - Search API/search/recording
      parameters:
      - name: SID
        in: header
        description: ''
        example: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
        schema:
          type: string
          default: 92575d36dcb631ac94745e6b157de17a5a13d65b31e44869f06854ab928dd80235d4daae8696b4a92a7be5f802c45a219648701fc9ca59f44e9c0f022d5d38a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.GetInterValReq'
            example:
              paths: []
      responses:
        '200':
          description: 'Successful response; check errorCode for logical results: 0=success, 2004=invalid request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.GetIntervalResp'
              example:
                results: []
          headers: {}
          x-apifox-name: ''
        '400':
          description: Malformed HTTP request or parse error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: ''
      security: []
      x-apifox-folder: Search API/search/recording
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-468959101-run
      operationId: Get_recording_intervals_by_path_468959101
      x-source-doc: https://docs.tvunetworks.cn/api-468959101.md
components:
  schemas:
    controllers.GetIntervalResp:
      type: object
      properties:
        errorCode:
          description: 'Business result code: 0=success, 2004=invalid request (paths empty or parse error)'
          type: integer
        errorInfo:
          description: Human-readable result message
          type: string
        results:
          description: List of interval results per path; present only on success
          type: array
          items:
            $ref: '#/components/schemas/models.GetIntervalItems'
      x-apifox-orders:
      - errorCode
      - errorInfo
      - results
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.GetIntervalItems:
      type: object
      properties:
        interval:
          description: interval
          type: integer
        path:
          description: path
          type: string
      x-apifox-orders:
      - interval
      - path
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.RecordingInfoReturnData:
      type: object
      properties:
        recordings:
          type: string
      x-apifox-orders:
      - recordings
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.GetInterValReq:
      type: object
      properties:
        paths:
          description: List of recording file paths for which to retrieve interval information; required
          type: array
          items:
            type: string
      x-apifox-orders:
      - paths
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    models.RecordingInfoQReq:
      type: object
      properties:
        sessionid:
          type: string
        task_id:
          type: string
        userid:
          type: string
      x-apifox-orders:
      - sessionid
      - task_id
      - userid
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    controllers.GetRecordingInfoV2Resp:
      type: object
      properties:
        code:
          description: 'Response code: 0=success, 1001=invalid request, 1002=invalid session, 1404=access denied'
          type: integer
        data:
          $ref: '#/components/schemas/controllers.RecordingInfoReturnData'
        message:
          description: Human-readable result message
          type: string
      x-apifox-orders:
      - code
      - data
      - message
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
