openapi: 3.2.0
info:
  title: TVU Networks — Producer Producer API/Clip Player API
  description: Producer API operations of the TVU Networks public HTTP API, assembled verbatim from the per-endpoint OpenAPI 3.0.1 exports TVU publishes on its own Apifox documentation site (https://docs.tvunetworks.cn/). Each operation body is the provider's own export; only grouping, servers[] and operationId backfill were added by API Evangelist.
  version: 1.0.0
  contact:
    name: TVU Networks
    url: https://www.tvunetworks.com/tvu-developer/
servers:
- url: https://api.tvunetworks.com
  description: Prod Env default server
tags:
- name: Producer API/Clip Player
paths:
  /graphql2rest/addClipToClipPlayer:
    post:
      summary: add clip to clip player
      deprecated: false
      description: add a media file to a clip player after file uploaded to S3
      operationId: f5dbbf718096349281e9ab58c78583b8
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSourceResult'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778529-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778529.md
  /graphql2rest/editClip:
    post:
      summary: edit clip
      deprecated: false
      description: set markin/markout and name
      operationId: 38270133b71953233410f5b221875a9d
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSourceActionVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778531-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778531.md
  /graphql2rest/mediaFiles:
    post:
      summary: media files
      deprecated: false
      description: list clip files on TVU Cloud Drive which are supported to add to Clip Player
      operationId: 36523f0ee447d9e79d2c672ecf57fd65
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileInfoQueryRequest'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778528-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778528.md
  /graphql2rest/moveClipPosition:
    post:
      summary: move clip position
      deprecated: false
      description: move clip file position
      operationId: 7094428c254f41e65332c836f48ae17b
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSourceActionVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                x--orders: []
                properties: {}
                x--ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778536-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778536.md
  /graphql2rest/pauseClipPlayer:
    post:
      summary: pause clip player
      deprecated: false
      description: pause clip file
      operationId: fc280d0e69e6c74ddda3702379c9d1bb
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSourceActionVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                x--orders: []
                properties: {}
                x--ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778533-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778533.md
  /graphql2rest/playClipPlayer:
    post:
      summary: play clip player
      deprecated: false
      description: play clip file
      operationId: 833267a507601b697b98babf33c0765b
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSourceActionVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778532-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778532.md
  /graphql2rest/removeClipFromClipPlayer:
    post:
      summary: remove clip from clip player
      deprecated: false
      description: remove a media file from a clip player
      operationId: 0b464c7d282970d51c4b60e46a697123
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceId:
                  type: string
                  examples:
                  - '000000000000000'
              x-apifox-orders:
              - sourceId
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778530-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778530.md
  /graphql2rest/resumeClipPlayer:
    post:
      summary: resume clip player
      deprecated: false
      description: resume clip file
      operationId: fed551a5927e525bc11143bd6d4e9a2f
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSourceActionVo'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                x--orders: []
                properties: {}
                x--ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778534-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778534.md
  /graphql2rest/stopClipPlayer:
    post:
      summary: stop clip player
      deprecated: false
      description: stop clip file
      operationId: f7a9b3cf2b050b599afcb3f7389e9c2b
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopLiveRequest'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                x-apifox-orders: []
                properties: {}
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778535-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778535.md
  /source/file/playMultiple:
    post:
      summary: Play multiple clip players at same time
      deprecated: false
      description: ''
      operationId: 02b7f646e3adedb3e2eb075e75f5a27e
      tags:
      - Producer API/Clip Player
      parameters:
      - name: SID
        in: header
        description: User Login Token
        required: true
        example: 2B13F99475684D5AA89C9EAE8A343B24
        schema:
          type: string
          description: User Login Token
          examples:
          - 2B13F99475684D5AA89C9EAE8A343B24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayReq'
            example: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  errorInfo:
                    type: string
                  errorCode:
                    type: string
                  repeated:
                    type: boolean
                x-apifox-orders:
                - result
                - errorInfo
                - errorCode
                - repeated
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: Response
      security: []
      x-apifox-folder: Producer API/Clip Player
      x-apifox-status: released
      x-run-in-apifox: https://app.apifox.com/web/project/4126232/apis/api-250778537-run
      x-source-doc: https://docs.tvunetworks.cn/api-250778537.md
components:
  schemas:
    PlayReq:
      required:
      - productionId
      type: object
      properties:
        playFromBeginning:
          type: boolean
          examples:
          - true
        clientid:
          type: string
          description: caller identity
          examples:
          - 44F0D41685CA4986B2C6E47813C20B01
        operateId:
          maxLength: 32
          type: string
          description: If not pass,will use current Login userId
          examples:
          - 44F0D41685CA4986B2C6E47813C20B01
        productionId:
          type: integer
          description: production id
          format: int64
          examples:
          - 0
        slotNos:
          type: array
          items:
            type: string
            description: the numbers of slots to play, if not set, play all clip players
            examples:
            - '["s1", "s2"]'
        programId:
          type: integer
          description: program id, required when production id not provided
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - playFromBeginning
      - clientid
      - operateId
      - productionId
      - slotNos
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    UploadSourceResult:
      required:
      - objectKey
      - programId
      type: object
      properties:
        objectKey:
          type: string
          description: S3 object key
          examples:
          - rjThfblhWIHdNORBspbIoNfledin
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - objectKey
      - programId
      x--orders:
      - objectKey
      - programId
      x--ignore-properties: []
      x-apifox-folder: ''
    StopLiveRequest:
      required:
      - slotNo
      - programId
      type: object
      properties:
        rid:
          type: string
          description: rid
          examples:
          - xxxx
        slotNo:
          type: string
          description: slot no
          examples:
          - s1
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - rid
      - slotNo
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    FileSourceActionVo:
      required:
      - sourceId
      - position
      - programId
      type: object
      properties:
        sourceId:
          type: string
          description: logo file source id
          examples:
          - '000000000000000'
        position:
          type: integer
          description: logo position(begin from 0)
          format: int32
          examples:
          - 1427076743
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - sourceId
      - position
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    FileInfoQueryRequest:
      type: object
      properties:
        pageIndex:
          type: integer
          description: page index
          format: int32
          examples:
          - 1
        name:
          type: string
          description: file name
          examples:
          - BYlYWOIpCasrzKVHDlqGoevKKTYckMOW
        pageSize:
          type: integer
          description: request records count per page
          format: int32
          examples:
          - 10
        pid:
          type: string
          description: parent directory id
          examples:
          - VyQLcbNCIfYUxfzeMUudxLygEaQfIbwTG
        programId:
          type: integer
          description: program id
          format: int64
          examples:
          - 0
      x-apifox-orders:
      - pageIndex
      - name
      - pageSize
      - pid
      - programId
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
    apikey-header-Authorization:
      type: apikey
      in: header
      name: Authorization
    apikey-header-SID:
      type: apikey
      in: header
      name: SID
    tvu:
      type: bearer
      scheme: bearer
